# GENERATED FILE. Do not edit.
#
# Projected from the Zod MCP tool registry in product/mcp/gtm.mcp.
# Regenerate:  cd product/mcp/gtm.mcp && pnpm openapi:public
# Verify:      cd product/mcp/gtm.mcp && pnpm openapi:public:check
openapi: 3.0.3
info:
  title: "GTM API public contract: gtm.service.id"
  description: |-
    Identity, access and money: users, teams and members, API keys, OAuth clients and authorizations, billing products, subscriptions, transactions and payment methods, notifications, TLS certificates, observability and support requests.

    GENERATED. This document is projected from the Zod MCP tool registry in `product/mcp/gtm.mcp` (one tool per public endpoint, 1:1). Do not edit it by hand; edit the tool definition and regenerate with `pnpm openapi:public`.

    Surface: the public `/api` contract of `gtm.service.id`, 73 operations. Internal (`/internal`) and health endpoints are deliberately absent; the code-faithful spec that documents those lives in `product/openapi/gtm.openapi.tech`.

    Conventions:
    - Auth is a bearer JWT, optionally narrowed by the `Team-SID` header.
    - Every success body is an MCP envelope: `success: true` plus one typed `operation` shape (`search`, `get`, `create`, `update`, `delete`, `metrics`, `group_by`, `action`), and a `meta` block with `trace_id` for support.
    - Every failure is the same `McpError` envelope with a code from a fixed 16-code taxonomy, so a client maps errors once.
    - Lists page with `page_size` (0 to 500, default 50) plus an opaque forward `cursor`; `page_size: 0` returns counts only.
    - On `GET` and `DELETE`, object-valued query parameters (`filter`, `sort`) travel as JSON text and array-valued ones repeat as `name[]=value`.
    - The MCP-only `_meta` field (usage analytics) never reaches the backend and is not part of this contract.
  version: "1.0"
  contact:
    name: GTM API
    url: https://gtm-api.com
    email: support@gtm-api.com
  license:
    name: Proprietary
    url: https://gtm-api.com/license
servers:
  - url: https://app.gtm-api.com/id/v4
    description: Production, through the app.gtm-api.com gateway
security:
  - BearerJwt: []
    TeamSid: []
tags:
  - name: account_shares
    description: Registry package `mcp.id/account_shares`, served on MCP mount `id.access`.
  - name: api_keys
    description: Registry package `mcp.id/api_keys`, served on MCP mount `id.access`.
  - name: billing_payment_methods
    description: Registry package `mcp.id/billing_payment_methods`, served on MCP mount `id.billing`.
  - name: billing_products
    description: Registry package `mcp.id/billing_products`, served on MCP mount `id.billing`.
  - name: billing_subscriptions
    description: Registry package `mcp.id/billing_subscriptions`, served on MCP mount `id.billing`.
  - name: billing_transactions
    description: Registry package `mcp.id/billing_transactions`, served on MCP mount `id.billing`.
  - name: notifications
    description: Registry package `mcp.id/notifications`, served on MCP mount `id.platform`.
  - name: oauth_authorizations
    description: Registry package `mcp.id/oauth_authorizations`, served on MCP mount `id.access`.
  - name: oauth_clients
    description: Registry package `mcp.id/oauth_clients`, served on MCP mount `id.access`.
  - name: observability_requests
    description: Registry package `mcp.id/observability_requests`, served on MCP mount `id.platform`.
  - name: sessions
    description: Registry package `mcp.id/sessions`, served on MCP mount `id.identity`.
  - name: ssl_certificates
    description: Registry package `mcp.id/ssl_certificates`, served on MCP mount `id.platform`.
  - name: support_requests
    description: Registry package `mcp.id/support_requests`, served on MCP mount `id.platform`.
  - name: team_members
    description: Registry package `mcp.id/team_members`, served on MCP mount `id.identity`.
  - name: teams
    description: Registry package `mcp.id/teams`, served on MCP mount `id.identity`.
  - name: users
    description: Registry package `mcp.id/users`, served on MCP mount `id.identity`.
paths:
  /api/account-shares:
    post:
      operationId: create_account_share
      summary: Lend an account to another workspace
      description: |-
        Lend ONE of your connected accounts to another workspace, temporarily and revocably. This is a loan, not a handover: permanent ownership transfer has no MCP tool at all. Target exactly one of to_email (resolved to that user's working team) or to_team_sid; neither, both, a bad email or a self-target is 422. account_sid is prefix agnostic (ln_ac_, em_ac_); `channel` says which service owns it. ALWAYS ASYNC: returns 201 with status pending, and the loan has NOT started. Poll search_account_shares with filter { sid: { eq } } until status is active (the holder can work) or failed (read failure_reason); rolling_back means it is being undone, so do not re-issue. holder_over_slot true means the copy landed in the holder's subscription hold and they cannot work until they upgrade; a share never fails on slots. One row is one account with no bulk arm, so N accounts is N calls. planned_return_at only emails the owner a recall link; there is no auto return. Needs can_manage_account_shares.

        Contract:
        - MCP tool `create_account_share`, registry package `mcp.id/account_shares`, mount `id.access`.
        - Operation `create`, response envelope `create`.
        - Flags: none.
      tags:
        - account_shares
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountShareRequest"
      responses:
        "200":
          description: "`create` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAccountShareResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: create_account_share
      x-gtm-mcp-mount: id.access
      x-gtm-entity: account_shares
      x-gtm-operation: create
      x-gtm-envelope: create
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: complex
  /api/account-shares/list-received:
    post:
      operationId: list_received_account_shares
      summary: List received account shares
      description: |-
        List the account shares your team RECEIVED: accounts on loan TO you. Reach for this whenever the question is about a BORROWED account (what did we borrow, from whom, until when, is it still active), and for search_account_shares when it is about an account your own team owns and lent out. Registered as an action route but it is a plain read, with the same envelope, filters and sorts as search. It is also the holder's only programmatic arrival signal, because the domain events fan out to the owner team alone: poll filter { status: { eq: "active" } } sorted by created_at asc. Rows belong to the owner tenant, so created_by and ended_by arrive with permissions emptied and the trace id nulled. No include[], no counts block; page_size 0 returns pagination.total_count alone. Needs can_view_account_shares.

        Contract:
        - MCP tool `list_received_account_shares`, registry package `mcp.id/account_shares`, mount `id.access`.
        - Operation `action`, response envelope `search`.
        - Flags: read only.
      tags:
        - account_shares
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListReceivedAccountSharesRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListReceivedAccountSharesResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: list_received_account_shares
      x-gtm-mcp-mount: id.access
      x-gtm-entity: account_shares
      x-gtm-operation: action
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/account-shares/recall:
    post:
      operationId: recall_account_share
      summary: Recall a lent-out account
      description: |-
        Take a lent-out account back. Owner side, no holder consent. Target EXACTLY ONE of sid (ac_sh_) or filter; neither or both is 422 on sid_or_filter. FILTER MODE fans out over the loans you ISSUED, the server FORCES status to active so your filter can only narrow the set, and it drains INLINE at most 100 shares per call, minting no mass-action row. It also requires confirmation_count equal to the active-pinned pagination.total_count search_account_shares reports for the same filter; anything else is 409 confirmation_count_mismatch. Single-sid mode ignores it. ASYNC: the call stamps status closing and a driver does the teardown, so closing_count means shares that STARTED closing, never shares recalled; poll status to recalled. NOT atomic: a mid-batch error returns no counters and earlier shares stay closing, so re-query search rather than retrying the same body. closing_count below total_matched leaves a remainder; every next call needs a FRESH count. Needs can_manage_account_shares.

        Contract:
        - MCP tool `recall_account_share`, registry package `mcp.id/account_shares`, mount `id.access`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API; mass action: this verb's own request accepts a filter or targets[] set, which the owning service drains.
      tags:
        - account_shares
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecallAccountShareRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecallAccountShareResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: recall_account_share
      x-gtm-mcp-mount: id.access
      x-gtm-entity: account_shares
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-mass-action: true
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/account-shares/return:
    post:
      operationId: return_account_share
      summary: Return a borrowed account
      description: |-
        Give a borrowed account back early. Holder side. Same shape as recall_account_share: EXACTLY ONE of sid (ac_sh_) or filter, filter mode server-pinned to status active, drained INLINE at most 100 shares per call with no mass-action row minted, and confirmation_count required with filter and matched against the active-pinned pagination.total_count of list_received_account_shares (409 confirmation_count_mismatch otherwise). The difference is the side: the filter resolves over the loans you RECEIVED, and a share you do not hold is 403 not_share_holder. ASYNC: it stamps status closing, then the driver tears the holder copy down and un-parks the owner, so closing_count counts shares that STARTED closing; poll status to returned. Not atomic, and the same remainder and recount rule as recall. Deleting the borrowed copy on the channel has the same effect, ending the loan with end_reason holder_deleted_copy. Needs can_manage_account_shares.

        Contract:
        - MCP tool `return_account_share`, registry package `mcp.id/account_shares`, mount `id.access`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API; mass action: this verb's own request accepts a filter or targets[] set, which the owning service drains.
      tags:
        - account_shares
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReturnAccountShareRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReturnAccountShareResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: return_account_share
      x-gtm-mcp-mount: id.access
      x-gtm-entity: account_shares
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-mass-action: true
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/account-shares/search:
    post:
      operationId: search_account_shares
      summary: Search issued account shares
      description: |-
        List the account shares your team ISSUED: accounts you lent OUT to another workspace. Sharing is TEMPORARY and revocable; permanent ownership transfer is a web-app-only flow with no MCP tool, so never offer this as a way to give an account away. This is also the polling surface, since there is no get tool and no /{sid} route: read one loan with filter { sid: { eq } } and watch status until active (the holder can work), failed (it never started, read failure_reason), or terminal recalled / returned. filter.owner_account_sid answers 'is this account lent out and to whom'; holder_over_slot finds loans that landed with no free slot. The number recall_account_share has to confirm is pagination.total_count here, NOT total_matched; page_size 0 returns it with no rows. No include[], no counts block, no free-text q. Needs can_view_account_shares.

        Contract:
        - MCP tool `search_account_shares`, registry package `mcp.id/account_shares`, mount `id.access`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - account_shares
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchAccountSharesRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchAccountSharesResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_account_shares
      x-gtm-mcp-mount: id.access
      x-gtm-entity: account_shares
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/api-keys:
    post:
      operationId: create_api_key
      summary: Create API key
      description: |-
        Issue a new API key and return the full secret in the create envelope's plaintext_token EXACTLY ONCE. It is unrecoverable, so hand it to the user immediately and never log or echo it; if lost, rotate. Callable by a human (api_keys.manage) or by a parent api_key, in which case the issued permissions MUST be a subset of the parent's (downscoping only; escalation → 403). Default expires_at = now + 3 years; pass null for a perpetual key. Natural key (team_sid, name) among non-revoked keys → a duplicate returns already_exists with the existing key (and NO secret).

        Contract:
        - MCP tool `create_api_key`, registry package `mcp.id/api_keys`, mount `id.access`.
        - Operation `create`, response envelope `create`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - api_keys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyRequest"
      responses:
        "200":
          description: "`create` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateApiKeyResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: create_api_key
      x-gtm-mcp-mount: id.access
      x-gtm-entity: api_keys
      x-gtm-operation: create
      x-gtm-envelope: create
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/api-keys/metrics:
    post:
      operationId: get_api_keys_metrics
      summary: API key metrics
      description: |-
        Period-bound counts of the team's keys by status, plus issuance / expiry tallies inside the window (created_in_period, expired_in_period). Requires period {from, to}. Optional filter. Counts key rows, not key traffic; for per-key request usage use observability.

        Contract:
        - MCP tool `get_api_keys_metrics`, registry package `mcp.id/api_keys`, mount `id.access`.
        - Operation `metrics`, response envelope `metrics`.
        - Flags: read only.
      tags:
        - api_keys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetApiKeysMetricsRequest"
      responses:
        "200":
          description: "`metrics` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetApiKeysMetricsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_api_keys_metrics
      x-gtm-mcp-mount: id.access
      x-gtm-entity: api_keys
      x-gtm-operation: metrics
      x-gtm-envelope: metrics
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/api-keys/search:
    post:
      operationId: search_api_keys
      summary: Search API keys
      description: |-
        List the team's API keys for an access audit: which keys exist, what each can do (permissions), their status, when each was last_used_at and when each expires. Filter by status for live vs dead keys, by last_used_at.lt for stale keys to revoke at offboarding, or by expires_at for keys expiring soon. The secret is never returned (only token_prefix + token_last4). include:["metrics"] attaches per-key counts; page_size:0 returns counts only.

        Contract:
        - MCP tool `search_api_keys`, registry package `mcp.id/api_keys`, mount `id.access`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - api_keys
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchApiKeysRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchApiKeysResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_api_keys
      x-gtm-mcp-mount: id.access
      x-gtm-entity: api_keys
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/api-keys/{sid}:
    get:
      operationId: get_api_key
      summary: Get API key
      description: |-
        Fetch a single API key by sid, with optional metrics include. Returns token_prefix + token_last4 for display; the secret is unrecoverable (use rotate_api_key to mint a new one).

        Contract:
        - MCP tool `get_api_key`, registry package `mcp.id/api_keys`, mount `id.access`.
        - Operation `get`, response envelope `get`.
        - Flags: read only.
      tags:
        - api_keys
      parameters:
        - name: sid
          in: path
          required: true
          description: Path segment `{sid}`.
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^id_ak_
        - name: include[]
          in: query
          required: false
          description: Query parameter `include`.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - metrics
      responses:
        "200":
          description: "`get` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetApiKeyResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_api_key
      x-gtm-mcp-mount: id.access
      x-gtm-entity: api_keys
      x-gtm-operation: get
      x-gtm-envelope: get
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
    patch:
      operationId: update_api_key
      summary: Update API key
      description: |-
        Partial update of name / permissions only (the key's identity and secret are untouched; use rotate_api_key to change the secret). permissions is a FULL replacement. When the caller is a parent api_key, the new permissions must still be a subset of the parent's (→ 403). At least one field is required.

        Contract:
        - MCP tool `update_api_key`, registry package `mcp.id/api_keys`, mount `id.access`.
        - Operation `update`, response envelope `update`.
        - Flags: none.
      tags:
        - api_keys
      parameters:
        - name: sid
          in: path
          required: true
          description: API key sid (id_ak_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^id_ak_
            description: API key sid (id_ak_…).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateApiKeyRequest"
      responses:
        "200":
          description: "`update` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateApiKeyResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: update_api_key
      x-gtm-mcp-mount: id.access
      x-gtm-entity: api_keys
      x-gtm-operation: update
      x-gtm-envelope: update
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
    delete:
      operationId: delete_api_key
      summary: Revoke API key
      description: |-
        Revoke a key (simple soft-delete): status=revoked, deleted_at set. Verify rejects it from the next request (cache invalidated). Irreversible: a revoked key never re-activates; issue a fresh one. Idempotent: re-deleting → already_deleted.

        Contract:
        - MCP tool `delete_api_key`, registry package `mcp.id/api_keys`, mount `id.access`.
        - Operation `delete`, response envelope `delete_simple`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - api_keys
      parameters:
        - name: sid
          in: path
          required: true
          description: Path segment `{sid}`.
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^id_ak_
      responses:
        "200":
          description: "`delete_simple` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteApiKeyResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: delete_api_key
      x-gtm-mcp-mount: id.access
      x-gtm-entity: api_keys
      x-gtm-operation: delete
      x-gtm-envelope: delete_simple
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
  /api/api-keys/{sid}/rotate:
    post:
      operationId: rotate_api_key
      summary: Rotate API key
      description: |-
        Swap the key's secret IN PLACE and return the new plaintext in result.plaintext_token EXACTLY ONCE: hand it to the user, never log it, unrecoverable. The key's sid / name / permissions / expires_at are unchanged. The previous secret stays valid until result.previous_token_expires_at (now + grace_seconds, default 24h) so the agent can update config without downtime. Use when a secret leaks or before offboarding. NOT idempotent: each call mints a brand-new secret. Rotating a revoked/expired key → 409.

        Contract:
        - MCP tool `rotate_api_key`, registry package `mcp.id/api_keys`, mount `id.access`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - api_keys
      parameters:
        - name: sid
          in: path
          required: true
          description: API key sid (id_ak_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^id_ak_
            description: API key sid (id_ak_…).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RotateApiKeyRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RotateApiKeyResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: rotate_api_key
      x-gtm-mcp-mount: id.access
      x-gtm-entity: api_keys
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: complex
  /api/billing-payment-methods:
    get:
      operationId: list_billing_payment_methods
      summary: List payment methods
      description: |-
        List the saved cards / PayPal / wallets for the active workspace's paying user (proxied live from Paddle). The list is re-sorted so the billing card is items[0]; is_default:true is the card that last billed the workspace, so answer 'which card am I paying with' by reading it. Cards may be listed even with no applied subscription; empty if the user has no Paddle customer. Brand + last4 + expiry only (PCI). Requires billing.view.

        Contract:
        - MCP tool `list_billing_payment_methods`, registry package `mcp.id/billing_payment_methods`, mount `id.billing`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - billing_payment_methods
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBillingPaymentMethodsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: list_billing_payment_methods
      x-gtm-mcp-mount: id.billing
      x-gtm-entity: billing_payment_methods
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/billing-payment-methods/get-add-link:
    post:
      operationId: get_billing_payment_method_add_link
      summary: Get add-card link
      description: |-
        Return a temporary Paddle Customer Portal deep link to add or replace a card for the workspace's applied subscription. This is the ONLY way to add a card: Paddle has no add-card API; the user enters card details on Paddle's hosted page. Never cached. Returns no_billing_account if the workspace has no applied subscription. Requires billing.manage.

        Contract:
        - MCP tool `get_billing_payment_method_add_link`, registry package `mcp.id/billing_payment_methods`, mount `id.billing`.
        - Operation `action`, response envelope `action`.
        - Flags: read only.
      tags:
        - billing_payment_methods
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetBillingPaymentMethodAddLinkResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_billing_payment_method_add_link
      x-gtm-mcp-mount: id.billing
      x-gtm-entity: billing_payment_methods
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/billing-payment-methods/{sid}:
    delete:
      operationId: delete_billing_payment_method
      summary: Delete payment method
      description: |-
        Remove a saved payment method from the workspace's paying user's Paddle customer (proxies Paddle DELETE; no local row, no cascade). DANGEROUS. Search first and, if the method is is_default:true (the billing card), confirm with the user before deleting: it leaves the subscription card-less. Deleting an already-removed method is idempotent success. sid is a raw Paddle paymtd_ id. Requires billing.manage.

        Contract:
        - MCP tool `delete_billing_payment_method`, registry package `mcp.id/billing_payment_methods`, mount `id.billing`.
        - Operation `delete`, response envelope `delete_simple`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - billing_payment_methods
      parameters:
        - name: sid
          in: path
          required: true
          description: "Paddle payment-method id (paymtd_…): a raw Paddle id, not an 18-char platform sid."
          schema:
            type: string
            pattern: ^paymtd_
            description: "Paddle payment-method id (paymtd_…): a raw Paddle id, not an 18-char platform sid."
      responses:
        "200":
          description: "`delete_simple` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteBillingPaymentMethodResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: delete_billing_payment_method
      x-gtm-mcp-mount: id.billing
      x-gtm-entity: billing_payment_methods
      x-gtm-operation: delete
      x-gtm-envelope: delete_simple
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/billing-products/search:
    post:
      operationId: search_billing_products
      summary: Search billing products
      description: |-
        List the Paddle-synced product catalog (the base plan + add-ons) with filtering, sorting and cursor pagination. Filter by type to split plan vs add-on, is_active for the live catalog, or q for an infix match over name/slug. Each row carries the per-unit limits grant. Read-only: the catalog is authored in Paddle, never here. page_size:0 returns counts only.

        Contract:
        - MCP tool `search_billing_products`, registry package `mcp.id/billing_products`, mount `id.billing`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - billing_products
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchBillingProductsRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchBillingProductsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_billing_products
      x-gtm-mcp-mount: id.billing
      x-gtm-entity: billing_products
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/billing-subscriptions/create-checkout:
    post:
      operationId: create_billing_subscription_checkout
      summary: Create subscription checkout
      description: |-
        Start a self-serve purchase of a subscription. DANGEROUS (charges money): it pre-creates a billed Paddle transaction and returns a hosted checkout_url the buyer pays in the Paddle overlay (server-side preview→commit gate applies). Resolves the bracket price for the requested slot count, optionally applies to team_sid on activation (omit to buy floating), and can bundle add-ons in the same checkout. The real subscription row is born on the billing-subscriptions.activated webhook; poll get/search afterwards. Requires billing.manage.

        Contract:
        - MCP tool `create_billing_subscription_checkout`, registry package `mcp.id/billing_subscriptions`, mount `id.billing`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - billing_subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBillingSubscriptionCheckoutRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateBillingSubscriptionCheckoutResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: create_billing_subscription_checkout
      x-gtm-mcp-mount: id.billing
      x-gtm-entity: billing_subscriptions
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: complex
  /api/billing-subscriptions/search:
    post:
      operationId: search_billing_subscriptions
      summary: Search billing subscriptions
      description: |-
        List the caller's billing subscriptions: the ones they bought (owner = caller, including floating subscriptions applied to no team) plus the one applied to a team they can read. Filter by status, team_sid:{is_null:true} for floating, paddle_subscription_id:{is_null:true} for the trial, or trial_ends_at / current_period_ends_at for expiry windows. include price / product / team / latest_transactions to hydrate context. page_size:0 returns counts only.

        Contract:
        - MCP tool `search_billing_subscriptions`, registry package `mcp.id/billing_subscriptions`, mount `id.billing`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - billing_subscriptions
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchBillingSubscriptionsRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchBillingSubscriptionsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_billing_subscriptions
      x-gtm-mcp-mount: id.billing
      x-gtm-entity: billing_subscriptions
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/billing-subscriptions/{sid}:
    get:
      operationId: get_billing_subscription
      summary: Get billing subscription
      description: |-
        Fetch a single billing subscription by sid, with optional includes (price, product, team, latest_transactions).

        Contract:
        - MCP tool `get_billing_subscription`, registry package `mcp.id/billing_subscriptions`, mount `id.billing`.
        - Operation `get`, response envelope `get`.
        - Flags: read only.
      tags:
        - billing_subscriptions
      parameters:
        - name: sid
          in: path
          required: true
          description: Path segment `{sid}`.
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^bl_sb_
        - name: include[]
          in: query
          required: false
          description: Query parameter `include`.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: "`get` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetBillingSubscriptionResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_billing_subscription
      x-gtm-mcp-mount: id.billing
      x-gtm-entity: billing_subscriptions
      x-gtm-operation: get
      x-gtm-envelope: get
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
  /api/billing-subscriptions/{sid}/add-addon:
    post:
      operationId: add_billing_subscription_addon
      summary: Add subscription add-on
      description: |-
        Add a recurring add-on item to the SAME subscription (one Paddle PATCH, one prorated charge). DANGEROUS: charges the owner's card (prorated); server-side confirm gate applies. Idempotent per request_id: a retry with the same token does not re-charge. Requires billing.manage.

        Contract:
        - MCP tool `add_billing_subscription_addon`, registry package `mcp.id/billing_subscriptions`, mount `id.billing`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - billing_subscriptions
      parameters:
        - name: sid
          in: path
          required: true
          description: Billing subscription sid (bl_sb_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^bl_sb_
            description: Billing subscription sid (bl_sb_…).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddBillingSubscriptionAddonRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddBillingSubscriptionAddonResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: add_billing_subscription_addon
      x-gtm-mcp-mount: id.billing
      x-gtm-entity: billing_subscriptions
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/billing-subscriptions/{sid}/apply:
    post:
      operationId: apply_billing_subscription
      summary: Apply subscription to team
      description: |-
        Apply a floating subscription (owned by the caller) to a team, activating its slots + limits there. Owner-only. DANGEROUS state change (server-side confirm gate); rejects with 409 if the team already has a live applied subscription or is soft-deleted. No charge. Requires billing.manage.

        Contract:
        - MCP tool `apply_billing_subscription`, registry package `mcp.id/billing_subscriptions`, mount `id.billing`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - billing_subscriptions
      parameters:
        - name: sid
          in: path
          required: true
          description: Billing subscription sid (bl_sb_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^bl_sb_
            description: Billing subscription sid (bl_sb_…).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplyBillingSubscriptionRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplyBillingSubscriptionResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: apply_billing_subscription
      x-gtm-mcp-mount: id.billing
      x-gtm-entity: billing_subscriptions
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/billing-subscriptions/{sid}/cancel:
    post:
      operationId: cancel_billing_subscription
      summary: Cancel subscription
      description: |-
        Cancel the subscription at the end of the current period (terminal). DANGEROUS: the team loses capacity when the period ends, though data is retained and there is no immediate charge or refund. Server-side confirm gate applies. There is no delete verb; cancel is the canonical termination. Requires billing.manage.

        Contract:
        - MCP tool `cancel_billing_subscription`, registry package `mcp.id/billing_subscriptions`, mount `id.billing`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - billing_subscriptions
      parameters:
        - name: sid
          in: path
          required: true
          description: Billing subscription sid (bl_sb_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^bl_sb_
            description: Billing subscription sid (bl_sb_…).
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelBillingSubscriptionResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: cancel_billing_subscription
      x-gtm-mcp-mount: id.billing
      x-gtm-entity: billing_subscriptions
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/billing-subscriptions/{sid}/change:
    post:
      operationId: change_billing_subscription
      summary: Change subscription
      description: |-
        Commit a quantity / bracket-price change. DANGEROUS: an UPGRADE charges the owner's card immediately (prorated); a downgrade applies next period (no immediate charge). Server-side preview→commit gate applies; call preview_billing_subscription_change first. manual (sales) subscriptions are not re-bracketed (422). The committed state arrives via webhook; the response returns the optimistic post-change row. Provide at least one of quantity / price_sid. Requires billing.manage.

        Contract:
        - MCP tool `change_billing_subscription`, registry package `mcp.id/billing_subscriptions`, mount `id.billing`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - billing_subscriptions
      parameters:
        - name: sid
          in: path
          required: true
          description: Billing subscription sid (bl_sb_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^bl_sb_
            description: Billing subscription sid (bl_sb_…).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeBillingSubscriptionRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeBillingSubscriptionResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: change_billing_subscription
      x-gtm-mcp-mount: id.billing
      x-gtm-entity: billing_subscriptions
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: complex
  /api/billing-subscriptions/{sid}/get-update-payment-method-link:
    post:
      operationId: get_billing_subscription_update_payment_method_link
      summary: Get update-payment-method link
      description: |-
        Return a short-lived Paddle portal deep link to update the card for this subscription (the typical past_due recovery path). No charge, mutates nothing on our side. Requires billing.manage.

        Contract:
        - MCP tool `get_billing_subscription_update_payment_method_link`, registry package `mcp.id/billing_subscriptions`, mount `id.billing`.
        - Operation `action`, response envelope `action`.
        - Flags: read only.
      tags:
        - billing_subscriptions
      parameters:
        - name: sid
          in: path
          required: true
          description: Billing subscription sid (bl_sb_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^bl_sb_
            description: Billing subscription sid (bl_sb_…).
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetBillingSubscriptionUpdatePaymentMethodLinkResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_billing_subscription_update_payment_method_link
      x-gtm-mcp-mount: id.billing
      x-gtm-entity: billing_subscriptions
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
  /api/billing-subscriptions/{sid}/pause:
    post:
      operationId: pause_billing_subscription
      summary: Pause subscription
      description: |-
        Pause the subscription effective the next billing period. DANGEROUS state change (server-side confirm gate); while paused the applied team is gated like suspended, slots/data retained, billing stops. No charge. The committed status arrives via webhook. Resume with resume_billing_subscription. Requires billing.manage.

        Contract:
        - MCP tool `pause_billing_subscription`, registry package `mcp.id/billing_subscriptions`, mount `id.billing`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - billing_subscriptions
      parameters:
        - name: sid
          in: path
          required: true
          description: Billing subscription sid (bl_sb_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^bl_sb_
            description: Billing subscription sid (bl_sb_…).
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PauseBillingSubscriptionResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: pause_billing_subscription
      x-gtm-mcp-mount: id.billing
      x-gtm-entity: billing_subscriptions
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/billing-subscriptions/{sid}/preview-change:
    post:
      operationId: preview_billing_subscription_change
      summary: Preview subscription change
      description: |-
        Read-only proration preview for a quantity / bracket-price change BEFORE committing. Calls Paddle Pricing Preview and returns the immediate charge (upgrade) or next-period credit (downgrade), the resolved new bracket price, and whether it crosses a bracket boundary. No state change, no charge. This is the confirmation gate to show the user before change_billing_subscription. Provide at least one of quantity / price_sid. Requires billing.view.

        Contract:
        - MCP tool `preview_billing_subscription_change`, registry package `mcp.id/billing_subscriptions`, mount `id.billing`.
        - Operation `action`, response envelope `action`.
        - Flags: read only.
      tags:
        - billing_subscriptions
      parameters:
        - name: sid
          in: path
          required: true
          description: Billing subscription sid (bl_sb_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^bl_sb_
            description: Billing subscription sid (bl_sb_…).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PreviewBillingSubscriptionChangeRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreviewBillingSubscriptionChangeResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: preview_billing_subscription_change
      x-gtm-mcp-mount: id.billing
      x-gtm-entity: billing_subscriptions
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: complex
  /api/billing-subscriptions/{sid}/remove-addon:
    post:
      operationId: remove_billing_subscription_addon
      summary: Remove subscription add-on
      description: |-
        Remove an add-on item from the subscription, effective next period (no refund, no immediate charge). DANGEROUS state change (server-side confirm gate). Requires billing.manage.

        Contract:
        - MCP tool `remove_billing_subscription_addon`, registry package `mcp.id/billing_subscriptions`, mount `id.billing`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - billing_subscriptions
      parameters:
        - name: sid
          in: path
          required: true
          description: Billing subscription sid (bl_sb_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^bl_sb_
            description: Billing subscription sid (bl_sb_…).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RemoveBillingSubscriptionAddonRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoveBillingSubscriptionAddonResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: remove_billing_subscription_addon
      x-gtm-mcp-mount: id.billing
      x-gtm-entity: billing_subscriptions
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/billing-subscriptions/{sid}/resume:
    post:
      operationId: resume_billing_subscription
      summary: Resume subscription
      description: |-
        Resume a paused subscription; billing continues from the next period and the applied team re-derives active. DANGEROUS state change (server-side confirm gate). No charge. The committed status arrives via webhook. Requires billing.manage.

        Contract:
        - MCP tool `resume_billing_subscription`, registry package `mcp.id/billing_subscriptions`, mount `id.billing`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - billing_subscriptions
      parameters:
        - name: sid
          in: path
          required: true
          description: Billing subscription sid (bl_sb_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^bl_sb_
            description: Billing subscription sid (bl_sb_…).
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResumeBillingSubscriptionResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: resume_billing_subscription
      x-gtm-mcp-mount: id.billing
      x-gtm-entity: billing_subscriptions
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/billing-subscriptions/{sid}/unapply:
    post:
      operationId: unapply_billing_subscription
      summary: Unapply subscription
      description: |-
        Detach a subscription from its team, returning it to floating on the buyer's balance. DANGEROUS: removes the team's capacity (the team goes suspended if this was its only applied subscription); does NOT cancel billing or refund. Used to move a subscription to another team. Requires billing.manage.

        Contract:
        - MCP tool `unapply_billing_subscription`, registry package `mcp.id/billing_subscriptions`, mount `id.billing`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - billing_subscriptions
      parameters:
        - name: sid
          in: path
          required: true
          description: Billing subscription sid (bl_sb_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^bl_sb_
            description: Billing subscription sid (bl_sb_…).
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnapplyBillingSubscriptionResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: unapply_billing_subscription
      x-gtm-mcp-mount: id.billing
      x-gtm-entity: billing_subscriptions
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/billing-transactions/metrics:
    post:
      operationId: get_billing_transactions_metrics
      summary: Billing transaction metrics
      description: |-
        Period-bound money sums over the caller's transactions. Requires period {from,to}. Money never crosses currencies; every sum lives inside a per-currency by_currency entry keyed by ISO 4217. Answers 'how much did I pay / tax this quarter'. Sums are GROSS (refunds not modeled in v1). Filter is the same object as search and every axis is applied; billed_at / created_at operators are dropped from the period-bound sums (period is the one window there) but they DO scope the counts block, which carries no period of its own. Requires billing.view.

        Contract:
        - MCP tool `get_billing_transactions_metrics`, registry package `mcp.id/billing_transactions`, mount `id.billing`.
        - Operation `metrics`, response envelope `metrics`.
        - Flags: read only.
      tags:
        - billing_transactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetBillingTransactionsMetricsRequest"
      responses:
        "200":
          description: "`metrics` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetBillingTransactionsMetricsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_billing_transactions_metrics
      x-gtm-mcp-mount: id.billing
      x-gtm-entity: billing_transactions
      x-gtm-operation: metrics
      x-gtm-envelope: metrics
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/billing-transactions/search:
    post:
      operationId: search_billing_transactions
      summary: Search billing transactions
      description: |-
        List billing transactions (invoices / charges) for the caller: one row per Paddle transaction, newest first. Filter by status / origin / collection_mode / currency / billed_at window, or locate one by invoice_number. include subscription / owner / team to hydrate context. Read-only, append-only ledger; page_size:0 returns counts only. Requires billing.view.

        Contract:
        - MCP tool `search_billing_transactions`, registry package `mcp.id/billing_transactions`, mount `id.billing`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - billing_transactions
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchBillingTransactionsRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchBillingTransactionsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_billing_transactions
      x-gtm-mcp-mount: id.billing
      x-gtm-entity: billing_transactions
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/billing-transactions/{sid}:
    get:
      operationId: get_billing_transaction
      summary: Get billing transaction
      description: |-
        Fetch a single billing transaction by sid, with optional subscription / owner / team includes. Returns the frozen items[] charge snapshot inline.

        Contract:
        - MCP tool `get_billing_transaction`, registry package `mcp.id/billing_transactions`, mount `id.billing`.
        - Operation `get`, response envelope `get`.
        - Flags: read only.
      tags:
        - billing_transactions
      parameters:
        - name: sid
          in: path
          required: true
          description: Path segment `{sid}`.
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^bl_tx_
        - name: include[]
          in: query
          required: false
          description: Query parameter `include`.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: "`get` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetBillingTransactionResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_billing_transaction
      x-gtm-mcp-mount: id.billing
      x-gtm-entity: billing_transactions
      x-gtm-operation: get
      x-gtm-envelope: get
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
  /api/billing-transactions/{sid}/get-invoice:
    post:
      operationId: get_billing_transaction_invoice
      summary: Get transaction invoice
      description: |-
        Fetch a temporary, time-limited download URL for this transaction's invoice PDF from Paddle (never stored on our side; expires ~1h). Works for self-serve card charges and sales-issued manual invoices. Returns invoice_not_ready if the transaction is not yet billed. Read-only, mutates nothing. Requires billing.view.

        Contract:
        - MCP tool `get_billing_transaction_invoice`, registry package `mcp.id/billing_transactions`, mount `id.billing`.
        - Operation `action`, response envelope `action`.
        - Flags: read only.
      tags:
        - billing_transactions
      parameters:
        - name: sid
          in: path
          required: true
          description: Billing transaction sid (bl_tx_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^bl_tx_
            description: Billing transaction sid (bl_tx_…).
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetBillingTransactionInvoiceResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_billing_transaction_invoice
      x-gtm-mcp-mount: id.billing
      x-gtm-entity: billing_transactions
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/notifications/metrics:
    post:
      operationId: get_notifications_metrics
      summary: Notifications metrics
      description: |-
        Period-bound delivery-health aggregates over a filtered notification set: how many notifications were delivered, failed, and rate-limited in the window. Requires period {from,to}. Optional filter and a single group_by axis (event_name / status / channel).

        Contract:
        - MCP tool `get_notifications_metrics`, registry package `mcp.id/notifications`, mount `id.platform`.
        - Operation `metrics`, response envelope `metrics`.
        - Flags: read only.
      tags:
        - notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetNotificationsMetricsRequest"
      responses:
        "200":
          description: "`metrics` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetNotificationsMetricsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_notifications_metrics
      x-gtm-mcp-mount: id.platform
      x-gtm-entity: notifications
      x-gtm-operation: metrics
      x-gtm-envelope: metrics
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/notifications/search:
    post:
      operationId: search_notifications
      summary: Search notifications
      description: |-
        List notifications (email and in_app channels) for the team/user with filtering, sorting and cursor pagination: the user inbox ("what was sent to me?"), admin audit ("what did the system email Jane about?"), or failure triage (status:failed in the last 24h). No full-text search. Returns a counts block of predicate tallies (by status / event_name / channel). Bodies are omitted from list rows; call get_notification for the rendered body.

        Contract:
        - MCP tool `search_notifications`, registry package `mcp.id/notifications`, mount `id.platform`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - notifications
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchNotificationsRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchNotificationsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_notifications
      x-gtm-mcp-mount: id.platform
      x-gtm-entity: notifications
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/notifications/{sid}:
    get:
      operationId: get_notification
      summary: Get notification
      description: |-
        Fetch a single notification by sid: the rendered subject / body, delivery state, and failure reason if any. Useful in post-call analysis: follow a notification's event_sid back through observability to explain "why did I get this email".

        Contract:
        - MCP tool `get_notification`, registry package `mcp.id/notifications`, mount `id.platform`.
        - Operation `get`, response envelope `get`.
        - Flags: read only.
      tags:
        - notifications
      parameters:
        - name: sid
          in: path
          required: true
          description: Path segment `{sid}`.
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^id_nt_
        - name: include[]
          in: query
          required: false
          description: Query parameter `include`.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: "`get` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetNotificationResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_notification
      x-gtm-mcp-mount: id.platform
      x-gtm-entity: notifications
      x-gtm-operation: get
      x-gtm-envelope: get
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
    delete:
      operationId: delete_notification
      summary: Dismiss notification
      description: |-
        Dismiss a notification from the inbox: a soft-delete that sets deleted_at. DESTRUCTIVE (removes the row from inbox lists). It does NOT cancel in-flight delivery: if the delivery worker already picked the row up, the email still goes out. The audit row is retained (recoverable via deleted_at filters).

        Contract:
        - MCP tool `delete_notification`, registry package `mcp.id/notifications`, mount `id.platform`.
        - Operation `delete`, response envelope `delete_simple`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - notifications
      parameters:
        - name: sid
          in: path
          required: true
          description: Path segment `{sid}`.
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^id_nt_
      responses:
        "200":
          description: "`delete_simple` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteNotificationResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: delete_notification
      x-gtm-mcp-mount: id.platform
      x-gtm-entity: notifications
      x-gtm-operation: delete
      x-gtm-envelope: delete_simple
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
  /api/oauth-authorizations/search:
    post:
      operationId: search_oauth_authorizations
      summary: Search connected apps
      description: |-
        List the caller's connected apps (standing OAuth consent grants). Always scoped to the caller's own grants, never cross-user. Filter by status (active vs revoked history), oauth_client_sid, or team_scope_mode; include client (name + ceiling), teams (in-scope team names), and active_sessions (live installation tokens). This is the user's view of who has access to their workspaces. page_size:0 returns counts only.

        Contract:
        - MCP tool `search_oauth_authorizations`, registry package `mcp.id/oauth_authorizations`, mount `id.access`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - oauth_authorizations
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchOauthAuthorizationsRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchOauthAuthorizationsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_oauth_authorizations
      x-gtm-mcp-mount: id.access
      x-gtm-entity: oauth_authorizations
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/oauth-authorizations/{sid}:
    patch:
      operationId: update_oauth_authorization
      summary: Edit connected app
      description: |-
        Partial self-service edit of the grant's mutable fields WITHOUT re-running the browser consent: team_scope_mode, consented_team_sids (full-replace, non-empty when mode=selected), and permissions (full-replace, must stay ⊆ the client ceiling). Each submitted team is re-checked against live membership (403 if not a member). Narrowing is security-positive; you can never exceed the ceiling via update. Changes are frozen-at-mint, so live tokens keep their claims until their short TTL; use revoke for an immediate cut. At least one field required. 404 if not the caller's own grant.

        Contract:
        - MCP tool `update_oauth_authorization`, registry package `mcp.id/oauth_authorizations`, mount `id.access`.
        - Operation `update`, response envelope `update`.
        - Flags: none.
      tags:
        - oauth_authorizations
      parameters:
        - name: sid
          in: path
          required: true
          description: OAuth authorization (grant) sid (id_oa_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^id_oa_
            description: OAuth authorization (grant) sid (id_oa_…).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOauthAuthorizationRequest"
      responses:
        "200":
          description: "`update` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateOauthAuthorizationResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: update_oauth_authorization
      x-gtm-mcp-mount: id.access
      x-gtm-entity: oauth_authorizations
      x-gtm-operation: update
      x-gtm-envelope: update
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/oauth-authorizations/{sid}/revoke:
    post:
      operationId: revoke_oauth_authorization
      summary: Disconnect app (revoke grant)
      description: |-
        Disconnect an app: flip the grant to status=revoked, clear its refresh credential, and cascade-revoke every installation token (all teams) in one transaction, so the agent is cut off immediately. The envelope item is the post-action grant (it persists, revoked); result.revoked_sessions is the count cut. Idempotent (already-revoked → 0). 404 if the sid is not the caller's own grant.

        Contract:
        - MCP tool `revoke_oauth_authorization`, registry package `mcp.id/oauth_authorizations`, mount `id.access`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - oauth_authorizations
      parameters:
        - name: sid
          in: path
          required: true
          description: OAuth authorization (grant) sid (id_oa_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^id_oa_
            description: OAuth authorization (grant) sid (id_oa_…).
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevokeOauthAuthorizationResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: revoke_oauth_authorization
      x-gtm-mcp-mount: id.access
      x-gtm-entity: oauth_authorizations
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/oauth-clients:
    post:
      operationId: create_oauth_client
      summary: Create OAuth client
      description: |-
        Register a new OAuth application; the server generates client_id. v1 clients are public/PKCE (no secret). A confidential client (fast-follow) returns client_secret in the create envelope ONCE. Tell the user to store it; it is unrecoverable and must never be logged. permissions is the ceiling the client may request; redirect_uris is an exact-match https allow-list (closes open-redirect). Dedup (team_sid, name) → already_exists. Set platform:true (admin only) to register a platform client with no owning team.

        Contract:
        - MCP tool `create_oauth_client`, registry package `mcp.id/oauth_clients`, mount `id.access`.
        - Operation `create`, response envelope `create`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - oauth_clients
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOauthClientRequest"
      responses:
        "200":
          description: "`create` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateOauthClientResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: create_oauth_client
      x-gtm-mcp-mount: id.access
      x-gtm-entity: oauth_clients
      x-gtm-operation: create
      x-gtm-envelope: create
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/oauth-clients/search:
    post:
      operationId: search_oauth_clients
      summary: Search OAuth clients
      description: |-
        List registered OAuth applications for the caller's team (plus platform clients when team_sid.is_null). Filter by status, client_id, registration_kind, is_confidential; include:["active_sessions"] to see the agents connected through each app (requires sessions.view). No full-text: filter by name / client_id. page_size:0 returns counts only.

        Contract:
        - MCP tool `search_oauth_clients`, registry package `mcp.id/oauth_clients`, mount `id.access`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - oauth_clients
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchOauthClientsRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchOauthClientsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_oauth_clients
      x-gtm-mcp-mount: id.access
      x-gtm-entity: oauth_clients
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/oauth-clients/{sid}:
    get:
      operationId: get_oauth_client
      summary: Get OAuth client
      description: |-
        Fetch one OAuth client by sid. include:["active_sessions"] lists agents connected through it (requires sessions.view). client_secret is never returned on a read.

        Contract:
        - MCP tool `get_oauth_client`, registry package `mcp.id/oauth_clients`, mount `id.access`.
        - Operation `get`, response envelope `get`.
        - Flags: read only.
      tags:
        - oauth_clients
      parameters:
        - name: sid
          in: path
          required: true
          description: Path segment `{sid}`.
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^id_oc_
        - name: include[]
          in: query
          required: false
          description: Query parameter `include`.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - active_sessions
      responses:
        "200":
          description: "`get` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOauthClientResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_oauth_client
      x-gtm-mcp-mount: id.access
      x-gtm-entity: oauth_clients
      x-gtm-operation: get
      x-gtm-envelope: get
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
    patch:
      operationId: update_oauth_client
      summary: Update OAuth client
      description: |-
        Partial update. Editable: name, redirect_uris, permissions, grant_types, status (redirect_uris / permissions full-replace). status:"disabled" cascade-revokes the client's oauth grants and issued tokens. Tightening permissions affects only future mints: live tokens keep their frozen set; use disabled / delete for an immediate cut. client_id / is_confidential / registration_kind are not editable. At least one field required.

        Contract:
        - MCP tool `update_oauth_client`, registry package `mcp.id/oauth_clients`, mount `id.access`.
        - Operation `update`, response envelope `update`.
        - Flags: none.
      tags:
        - oauth_clients
      parameters:
        - name: sid
          in: path
          required: true
          description: OAuth client sid (id_oc_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^id_oc_
            description: OAuth client sid (id_oc_…).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOauthClientRequest"
      responses:
        "200":
          description: "`update` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateOauthClientResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: update_oauth_client
      x-gtm-mcp-mount: id.access
      x-gtm-entity: oauth_clients
      x-gtm-operation: update
      x-gtm-envelope: update
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
    delete:
      operationId: delete_oauth_client
      summary: Delete OAuth client
      description: |-
        Destructive. Soft-delete the client (sets deleted_at) and cascade-revoke every issued oauth session and grant, disconnecting all agents connected through this app immediately. The public OAuth flow rejects a soft-deleted client. Idempotent: re-deleting → already_deleted. The client's sessions survive as revoked-not-deleted (retained).

        Contract:
        - MCP tool `delete_oauth_client`, registry package `mcp.id/oauth_clients`, mount `id.access`.
        - Operation `delete`, response envelope `delete_simple`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - oauth_clients
      parameters:
        - name: sid
          in: path
          required: true
          description: Path segment `{sid}`.
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^id_oc_
      responses:
        "200":
          description: "`delete_simple` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteOauthClientResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: delete_oauth_client
      x-gtm-mcp-mount: id.access
      x-gtm-entity: oauth_clients
      x-gtm-operation: delete
      x-gtm-envelope: delete_simple
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/observability/get-request:
    post:
      operationId: get_observability_request
      summary: Get observability request
      description: |-
        Fetch the full execution of one past MCP request by trace_id: spans, timings, status, the redacted input/output bodies, errors, emitted events, permission decisions, DB queries and the span tree. Read-only debugging instrument (Tempo + Loki facade, no local storage). Use when a user pastes a trace_id and asks "what happened / why did this fail", or to introspect a past tool call. Returns not_found when the trace was sampled out or is past retention; 403 (not 404) when the trace belongs to another actor/team.

        Contract:
        - MCP tool `get_observability_request`, registry package `mcp.id/observability_requests`, mount `id.platform`.
        - Operation `get`, response envelope `get`.
        - Flags: read only.
      tags:
        - observability_requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetObservabilityRequestRequest"
      responses:
        "200":
          description: "`get` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetObservabilityRequestResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_observability_request
      x-gtm-mcp-mount: id.platform
      x-gtm-entity: observability_requests
      x-gtm-operation: get
      x-gtm-envelope: get
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: complex
  /api/observability/get-session:
    post:
      operationId: get_observability_session
      summary: Get observability session
      description: |-
        Fetch the full tool-call history of one agent session by agent_session_id: total turns, total tool calls, and the per-turn tool-call breakdown. Read-only (Tempo + Loki facade). Use for post-mortems ("explain what my agent did / why it gave up") or handoff between agents. Returns not_found past retention; 403 when the session belongs to another actor/team.

        Contract:
        - MCP tool `get_observability_session`, registry package `mcp.id/observability_requests`, mount `id.platform`.
        - Operation `get`, response envelope `get`.
        - Flags: read only.
      tags:
        - observability_requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetObservabilitySessionRequest"
      responses:
        "200":
          description: "`get` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetObservabilitySessionResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_observability_session
      x-gtm-mcp-mount: id.platform
      x-gtm-entity: observability_requests
      x-gtm-operation: get
      x-gtm-envelope: get
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: complex
  /api/sessions/search:
    post:
      operationId: search_sessions
      summary: Search sessions
      description: |-
        List sessions. Default scope is the caller's own active sessions ("Active sessions"); pass kind:{eq:"oauth"} for "Connected agents", or status to see revoked/expired history. Each row carries the derived is_current flag (true for the caller's own request) so "log out everywhere except this device" can skip it. Returns a counts block. page_size:0 returns counts only.

        Contract:
        - MCP tool `search_sessions`, registry package `mcp.id/sessions`, mount `id.identity`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - sessions
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchSessionsRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchSessionsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_sessions
      x-gtm-mcp-mount: id.identity
      x-gtm-entity: sessions
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/sessions/{sid}/revoke:
    post:
      operationId: revoke_session
      summary: Revoke session
      description: |-
        End a session immediately: status active → revoked. The token is rejected from the next request (verifier cache flushed within 30-60s). This is the canonical "delete" for this entity; there is no delete tool. Idempotent: revoking an already revoked/expired session returns the row with result.already_revoked:true.

        Contract:
        - MCP tool `revoke_session`, registry package `mcp.id/sessions`, mount `id.identity`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - sessions
      parameters:
        - name: sid
          in: path
          required: true
          description: Session sid (id_se_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^id_se_
            description: Session sid (id_se_…).
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevokeSessionResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: revoke_session
      x-gtm-mcp-mount: id.identity
      x-gtm-entity: sessions
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/ssl-certificates:
    post:
      operationId: create_ssl_certificate
      summary: Register SSL certificate
      description: |-
        Register a custom domain as a certificate row in status='pending'. Does NOT start ACME; call issue_ssl_certificate next to begin the HTTP-01 flow. Idempotent on the domain natural key: an existing live row (pending/challenge/active) is returned as-is with already_exists:true; a failed/expired/soft-deleted row is recreated; a domain held active by another team returns 409 conflict.

        Contract:
        - MCP tool `create_ssl_certificate`, registry package `mcp.id/ssl_certificates`, mount `id.platform`.
        - Operation `create`, response envelope `create`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - ssl_certificates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSslCertificateRequest"
      responses:
        "200":
          description: "`create` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSslCertificateResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: create_ssl_certificate
      x-gtm-mcp-mount: id.platform
      x-gtm-entity: ssl_certificates
      x-gtm-operation: create
      x-gtm-envelope: create
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/ssl-certificates/search:
    post:
      operationId: search_ssl_certificates
      summary: Search SSL certificates
      description: |-
        List the team's TLS certificates for custom email domains: which domains are registered, each status, issuer, issued_at, expires_at, and the redacted last_error for failures. Filter by status for live vs failed, by expires_at:{lte} for certificates expiring soon, or by domain for a specific FQDN. The certificate body and private key are never returned. Returns a counts block of predicate tallies; page_size:0 returns counts only.

        Contract:
        - MCP tool `search_ssl_certificates`, registry package `mcp.id/ssl_certificates`, mount `id.platform`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - ssl_certificates
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchSslCertificatesRequest"
[...]
