# GENERATED FILE. Do not edit.
#
# Projected from the Zod MCP tool registry in product/mcp/gtm.mcp.
# Regenerate:  cd product/mcp/gtm.mcp && pnpm openapi:public
# Verify:      cd product/mcp/gtm.mcp && pnpm openapi:public:check
openapi: 3.0.3
info:
  title: "GTM API public contract: gtm.service.orchestration"
  description: |-
    The cross-service execution plane: the platform-wide webhook registry and delivery log, plus mass actions (preview, commit, pace, pause, resume, canary) and their per-item child rows.

    GENERATED. This document is projected from the Zod MCP tool registry in `product/mcp/gtm.mcp` (one tool per public endpoint, 1:1). Do not edit it by hand; edit the tool definition and regenerate with `pnpm openapi:public`.

    Surface: the public `/api` contract of `gtm.service.orchestration`, 21 operations. Internal (`/internal`) and health endpoints are deliberately absent; the code-faithful spec that documents those lives in `product/openapi/gtm.openapi.tech`.

    Conventions:
    - Auth is a bearer JWT, optionally narrowed by the `Team-SID` header.
    - Every success body is an MCP envelope: `success: true` plus one typed `operation` shape (`search`, `get`, `create`, `update`, `delete`, `metrics`, `group_by`, `action`), and a `meta` block with `trace_id` for support.
    - Every failure is the same `McpError` envelope with a code from a fixed 16-code taxonomy, so a client maps errors once.
    - Lists page with `page_size` (0 to 500, default 50) plus an opaque forward `cursor`; `page_size: 0` returns counts only.
    - On `GET` and `DELETE`, object-valued query parameters (`filter`, `sort`) travel as JSON text and array-valued ones repeat as `name[]=value`.
    - The MCP-only `_meta` field (usage analytics) never reaches the backend and is not part of this contract.
  version: "1.0"
  contact:
    name: GTM API
    url: https://gtm-api.com
    email: support@gtm-api.com
  license:
    name: Proprietary
    url: https://gtm-api.com/license
servers:
  - url: https://app.gtm-api.com/orchestration/v4
    description: Production, through the app.gtm-api.com gateway
security:
  - BearerJwt: []
    TeamSid: []
tags:
  - name: mass_action_items
    description: Registry package `mcp.orchestration/mass_action_items`, served on MCP mount `orchestration.mass_actions`.
  - name: mass_actions
    description: Registry package `mcp.orchestration/mass_actions`, served on MCP mount `orchestration.mass_actions`.
  - name: webhook_logs
    description: Registry package `mcp.orchestration/webhook_logs`, served on MCP mount `orchestration.webhooks`.
  - name: webhooks
    description: Registry package `mcp.orchestration/webhooks`, served on MCP mount `orchestration.webhooks`.
paths:
  /api/mass-action-items/retry:
    post:
      operationId: retry_mass_action_items
      summary: Retry mass-action items
      description: |-
        Re-enter FAILED items of a mass action AT their current_step: completed steps are never re-executed, so no duplicate creates and no double sends; their step_log entries and minted objects survive untouched. Target EXACTLY ONE of sid (ma_im_…) or filter; both or neither is a 422 on the sid field. The filter arm re-enqueues every matching failed item in one call and is not parent-scoped, so pass mass_action_sid unless you mean every run. Per item: status becomes pending, retry_count++, error_message and finished_at cleared; the failed step's log entry is overwritten by the next attempt. Every affected parent un-settles (settled_at cleared) and settles again when its items drain. Only status=failed rows match: succeeded, skipped, cancelled and in-flight are left alone, so a retry matching nothing returns retried_count 0, not an error. An "item_timeout:" failure is retryable, but that message means the outbound call MAY have landed: check the target before retrying a non-idempotent step such as a send.

        Contract:
        - MCP tool `retry_mass_action_items`, registry package `mcp.orchestration/mass_action_items`, mount `orchestration.mass_actions`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API; mass action: this verb's own request accepts a filter or targets[] set, which the owning service drains.
      tags:
        - mass_action_items
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetryMassActionItemsRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetryMassActionItemsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: retry_mass_action_items
      x-gtm-mcp-mount: orchestration.mass_actions
      x-gtm-entity: mass_action_items
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-creditable: false
      x-gtm-mass-action: true
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: complex
  /api/mass-action-items/search:
    post:
      operationId: search_mass_action_items
      summary: Search mass-action items
      description: |-
        Per-target drill-down of a mass action: one row per target with current_step, the object cursor (object_type / object_sid, on a generative run what the row created) and step_log[], one entry per plan step with status (running / deferred / succeeded / failed / skipped), executor_ref for async steps, created_object_sid for steps that minted one, credits_charged and error_message. The last step_log entry says what failed and why, earlier ones what completed: a failed item keeps the effects of its finished steps (fail-forward), created_object_sid is the cleanup surface. Filter by mass_action_sid, then narrow by status / current_step / wait_reason; object_sid is parent-scoped, so always pair it with mass_action_sid (unpaired it degrades to a full team scan). Sort defaults to position asc (insertion order; position 1 is the canary); page_size 0 returns pagination.total_count alone. No include[] and no counts block; run-level aggregation lives on the parent, mass-actions metrics.

        Contract:
        - MCP tool `search_mass_action_items`, registry package `mcp.orchestration/mass_action_items`, mount `orchestration.mass_actions`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - mass_action_items
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchMassActionItemsRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMassActionItemsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_mass_action_items
      x-gtm-mcp-mount: orchestration.mass_actions
      x-gtm-entity: mass_action_items
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: complex
  /api/mass-actions:
    post:
      operationId: create_mass_action
      summary: Create mass-action
      description: |-
        Commit a previewed plan into a running bulk dispatch. Requires the commit_token from preview_mass_action over EXACTLY these inputs: the server re-derives the HMAC, so an edited plan, a changed scope or a different caller is 422 invalid_commit_token, and a token older than 15 minutes is 422 commit_token_expired. Re-preview in either case.

        Re-runs the full preview validation, then inserts the run plus its items and starts dispatching in one transaction. Always asynchronous, even for one item: the returned sid IS the monitoring handle. Poll get_mass_action with include=metrics or get_mass_actions_metrics, or subscribe to the mass-actions.settled / .paused webhooks.

        With canary_mode=first_item only item 1 runs until it succeeds; a canary failure pauses the run with paused_reason=canary_failed. A none-scope run is created empty (total_count 0) and dispatches nothing until an auto-scrape appends leads into it. Replaying a still-valid token creates a SECOND identical run, so discard the token after use.

        Contract:
        - MCP tool `create_mass_action`, registry package `mcp.orchestration/mass_actions`, mount `orchestration.mass_actions`.
        - Operation `create`, response envelope `create`.
        - Flags: none.
      tags:
        - mass_actions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMassActionRequest"
      responses:
        "200":
          description: "`create` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateMassActionResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: create_mass_action
      x-gtm-mcp-mount: orchestration.mass_actions
      x-gtm-entity: mass_actions
      x-gtm-operation: create
      x-gtm-envelope: create
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: complex
  /api/mass-actions/metrics:
    post:
      operationId: get_mass_actions_metrics
      summary: Mass-action metrics
      description: |-
        Where a run is right now, in one round-trip, without paging items. Typical call: filter {sid:{eq}}. Returns items_by_status (the outcome split), items_by_current_step, items_by_wait_reason, in_flight (0 means the run is caught up), the next / last scheduled item, credits_spent, created_objects and the top error prefixes. No group_by: the shape is fixed. Use this instead of listing a run's items to answer 'how is it going'.

        Contract:
        - MCP tool `get_mass_actions_metrics`, registry package `mcp.orchestration/mass_actions`, mount `orchestration.mass_actions`.
        - Operation `metrics`, response envelope `metrics`.
        - Flags: read only.
      tags:
        - mass_actions
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetMassActionsMetricsRequest"
      responses:
        "200":
          description: "`metrics` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMassActionsMetricsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_mass_actions_metrics
      x-gtm-mcp-mount: orchestration.mass_actions
      x-gtm-entity: mass_actions
      x-gtm-operation: metrics
      x-gtm-envelope: metrics
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/mass-actions/preview:
    post:
      operationId: preview_mass_action
      summary: Preview mass-action plan
      description: |-
        Validate a whole bulk plan without running anything and mint the consent token create_mass_action consumes. ALWAYS the first call of a bulk dispatch.

        Validates in one pass, reporting all findings at once: plan shape (1..3 steps), step-eligibility of each tool, scope shape and size (1..100), the generate-scope rule (step 1 must mint an object) and the send-class schedule mandate. A tool outside the step vocabulary comes back 422 validation_failed with error.field_errors["plan.steps.{i}.tool"] = ["not_step_eligible: ..."], naming the authorable set so the plan is repairable in one turn. Nothing is persisted, charged or created.

        On success the result carries preview (items_count, steps_per_item, credits_estimate, dangerous_steps, eta, warnings), commit_token and expires_at. Show the preview to the user, then pass the token to create_mass_action UNCHANGED with the exact same inputs: it is an HMAC over them plus the caller, so any edit invalidates it (422) and needs a fresh preview. Tokens live 15 minutes.

        Contract:
        - MCP tool `preview_mass_action`, registry package `mcp.orchestration/mass_actions`, mount `orchestration.mass_actions`.
        - Operation `action`, response envelope `action`.
        - Flags: read only.
      tags:
        - mass_actions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PreviewMassActionRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreviewMassActionResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: preview_mass_action
      x-gtm-mcp-mount: orchestration.mass_actions
      x-gtm-entity: mass_actions
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: complex
  /api/mass-actions/search:
    post:
      operationId: search_mass_actions
      summary: Search mass-actions
      description: |-
        List the team's bulk runs with filter, sort and cursor pagination. Filter by status (active / paused), paused_reason, target_entity, canary_satisfied_at (is_null:true = the canary gate is still closed), or the created / updated / started / settled time ranges. status is a CONTROL axis, not an outcome: to learn how a run went call get_mass_actions_metrics or get_mass_action with include=metrics. Stopped runs are excluded unless deleted_at is filtered explicitly. page_size:0 returns the count alone.

        Contract:
        - MCP tool `search_mass_actions`, registry package `mcp.orchestration/mass_actions`, mount `orchestration.mass_actions`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - mass_actions
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchMassActionsRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMassActionsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_mass_actions
      x-gtm-mcp-mount: orchestration.mass_actions
      x-gtm-entity: mass_actions
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/mass-actions/{sid}:
    get:
      operationId: get_mass_action
      summary: Get mass-action
      description: |-
        Fetch one bulk run by sid: the plan that runs, status / paused_reason / hold_till, the canary gate, credits_spent and settled_at. include=metrics adds the item breakdown, which is where outcome lives.

        Contract:
        - MCP tool `get_mass_action`, registry package `mcp.orchestration/mass_actions`, mount `orchestration.mass_actions`.
        - Operation `get`, response envelope `get`.
        - Flags: read only.
      tags:
        - mass_actions
      parameters:
        - name: sid
          in: path
          required: true
          description: Path segment `{sid}`.
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ma_ac_
        - name: include[]
          in: query
          required: false
          description: Query parameter `include`.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - metrics
      responses:
        "200":
          description: "`get` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMassActionResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_mass_action
      x-gtm-mcp-mount: orchestration.mass_actions
      x-gtm-entity: mass_actions
      x-gtm-operation: get
      x-gtm-envelope: get
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
    delete:
      operationId: delete_mass_action
      summary: Stop and delete mass-action
      description: |-
        STOP a bulk run. This is the cancel path and it works at any status: pending and queued items are swept to cancelled, running items finish their current step and stop at the boundary, an auto-scrape feeding a standing run stops being able to append, and the run is soft-deleted. The cascade block reports how many were cancelled and how many were still in flight. Items stay queryable; there is no undo through MCP, and a plan cannot be edited, so restarting means a fresh preview and create.

        Contract:
        - MCP tool `delete_mass_action`, registry package `mcp.orchestration/mass_actions`, mount `orchestration.mass_actions`.
        - Operation `delete`, response envelope `delete_cascade`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - mass_actions
      parameters:
        - name: sid
          in: path
          required: true
          description: Path segment `{sid}`.
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ma_ac_
      responses:
        "200":
          description: "`delete_cascade` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteMassActionResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: delete_mass_action
      x-gtm-mcp-mount: orchestration.mass_actions
      x-gtm-entity: mass_actions
      x-gtm-operation: delete
      x-gtm-envelope: delete_cascade
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/mass-actions/{sid}/pause:
    post:
      operationId: pause_mass_action
      summary: Pause mass-action
      description: |-
        Freeze dispatch: status becomes paused with paused_reason='manual'. Queued jobs roll back at pre-flight and in-flight items finish their current step, then stop at the boundary; vendor calls already on the wire are never aborted. Pass hold_till to arm auto-resume at that moment, omit it to wait for an explicit resume_mass_action. Idempotent: pausing a paused run refreshes it.

        Contract:
        - MCP tool `pause_mass_action`, registry package `mcp.orchestration/mass_actions`, mount `orchestration.mass_actions`.
        - Operation `action`, response envelope `action`.
        - Flags: none.
      tags:
        - mass_actions
      parameters:
        - name: sid
          in: path
          required: true
          description: Mass-action sid (ma_ac_...).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ma_ac_
            description: Mass-action sid (ma_ac_...).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PauseMassActionRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PauseMassActionResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: pause_mass_action
      x-gtm-mcp-mount: orchestration.mass_actions
      x-gtm-entity: mass_actions
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/mass-actions/{sid}/release:
    post:
      operationId: release_mass_action_canary
      summary: Release mass-action canary
      description: |-
        Open the canary gate by hand: stamps canary_satisfied_at and releases every remaining item, the same sweep the canary would have triggered by succeeding. Use it when the first item failed for a reason you accept, or when you do not want to wait for it. Valid only while the run is live, canary_mode=first_item and the gate is still closed, else 409 invalid_transition. Releasing a PAUSED run stamps the gate but dispatches nothing until resume_mass_action: the pause dominates.

        Contract:
        - MCP tool `release_mass_action_canary`, registry package `mcp.orchestration/mass_actions`, mount `orchestration.mass_actions`.
        - Operation `action`, response envelope `action`.
        - Flags: none.
      tags:
        - mass_actions
      parameters:
        - name: sid
          in: path
          required: true
          description: Mass-action sid (ma_ac_...).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ma_ac_
            description: Mass-action sid (ma_ac_...).
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReleaseMassActionCanaryResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: release_mass_action_canary
      x-gtm-mcp-mount: orchestration.mass_actions
      x-gtm-entity: mass_actions
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/mass-actions/{sid}/resume:
    post:
      operationId: resume_mass_action
      summary: Resume mass-action
      description: |-
        Unfreeze dispatch: status becomes active, paused_reason and hold_till are cleared, and pending items are re-planned onto a fresh jitter chain from now. Items that deferred mid-cascade restart at their current step, so completed steps are not re-run. Does NOT touch the canary gate: after a canary_failed pause only the retried canary dispatches, and release_mass_action_canary is what opens the gate. 409 invalid_transition if the run is not paused.

        Contract:
        - MCP tool `resume_mass_action`, registry package `mcp.orchestration/mass_actions`, mount `orchestration.mass_actions`.
        - Operation `action`, response envelope `action`.
        - Flags: none.
      tags:
        - mass_actions
      parameters:
        - name: sid
          in: path
          required: true
          description: Mass-action sid (ma_ac_...).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ma_ac_
            description: Mass-action sid (ma_ac_...).
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResumeMassActionResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: resume_mass_action
      x-gtm-mcp-mount: orchestration.mass_actions
      x-gtm-entity: mass_actions
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/webhook-logs/metrics:
    post:
      operationId: get_webhook_logs_metrics
      summary: Webhook logs metrics
      description: |-
        Period-bound aggregates over webhook deliveries: success_rate, failure_rate, p50/p95/p99 latency, total_retries, last_success_at / last_failure_at. Requires period {from,to} (≤ 90 days). Optional filter scopes the row set (created_at operators inside filter are ignored; period is the only time window) and an optional single group_by axis (status, event_type, response_code, webhook_sid, account_sid).

        Contract:
        - MCP tool `get_webhook_logs_metrics`, registry package `mcp.orchestration/webhook_logs`, mount `orchestration.webhooks`.
        - Operation `metrics`, response envelope `metrics`.
        - Flags: read only.
      tags:
        - webhook_logs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetWebhookLogsMetricsRequest"
      responses:
        "200":
          description: "`metrics` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetWebhookLogsMetricsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_webhook_logs_metrics
      x-gtm-mcp-mount: orchestration.webhooks
      x-gtm-entity: webhook_logs
      x-gtm-operation: metrics
      x-gtm-envelope: metrics
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/webhook-logs/search:
    post:
      operationId: search_webhook_logs
      summary: Search webhook logs
      description: |-
        List webhook delivery rows for the caller's team with filter, sort, include and group-counts. Deliveries from every producer service (LinkedIn, email, …) land in this one log; filter per webhook, per account_sid, per source_service, per event type, per HTTP code or status; include=webhook. Returns a counts block (groups by status / event_type / response_code / webhook_sid / account_sid). Use for delivery auditing and integrator-outage debugging. For period-bound success rates use get_webhook_logs_metrics; single-row lookup is a filter on sid.

        Contract:
        - MCP tool `search_webhook_logs`, registry package `mcp.orchestration/webhook_logs`, mount `orchestration.webhooks`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - webhook_logs
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchWebhookLogsRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchWebhookLogsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_webhook_logs
      x-gtm-mcp-mount: orchestration.webhooks
      x-gtm-entity: webhook_logs
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/webhook-logs/{sid}/cancel:
    post:
      operationId: cancel_webhook_log
      summary: Cancel webhook delivery
      description: |-
        Cancel a webhook delivery (status → cancelled); no further retries. Allowed from pending / retrying / in_progress; terminal rows → 422 cannot_cancel_terminal. Cancelling an in_progress row may still flip back to success if the worker in-flight attempt returns 2xx (re-read the row; result.in_flight_attempt_pending signals this). Pass expected_status for a CAS write (409 on mismatch). Aborts a pending delivery; state-changing.

        Contract:
        - MCP tool `cancel_webhook_log`, registry package `mcp.orchestration/webhook_logs`, mount `orchestration.webhooks`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - webhook_logs
      parameters:
        - name: sid
          in: path
          required: true
          description: Webhook log (delivery) sid (wh_lg_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^wh_lg_
            description: Webhook log (delivery) sid (wh_lg_…).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelWebhookLogRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelWebhookLogResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: cancel_webhook_log
      x-gtm-mcp-mount: orchestration.webhooks
      x-gtm-entity: webhook_logs
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/webhook-logs/{sid}/retry:
    post:
      operationId: retry_webhook_log
      summary: Retry webhook delivery
      description: |-
        Manually re-arm a webhook delivery row: flips status to pending, sets scheduled_at=now(), increments retry_count. error_message is preserved (cleared only on the next successful terminal outcome). Allowed from pending / retrying / failed / success; rejected on cancelled (422), on a soft-deleted / disabled parent webhook (422), and while the worker holds the row (409 lease_in_progress). Pass expected_status for a CAS write (409 on mismatch). Re-delivers to the integrator; state-changing.

        Contract:
        - MCP tool `retry_webhook_log`, registry package `mcp.orchestration/webhook_logs`, mount `orchestration.webhooks`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - webhook_logs
      parameters:
        - name: sid
          in: path
          required: true
          description: Webhook log (delivery) sid (wh_lg_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^wh_lg_
            description: Webhook log (delivery) sid (wh_lg_…).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetryWebhookLogRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetryWebhookLogResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: retry_webhook_log
      x-gtm-mcp-mount: orchestration.webhooks
      x-gtm-entity: webhook_logs
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: complex
  /api/webhooks:
    post:
      operationId: create_webhook
      summary: Create webhook
      description: |-
        Create a webhook subscription endpoint. The server generates a 32-char hex secret and returns it ONCE in this response (masked on every subsequent read). Store it client-side for HMAC verification. target_url must be https:// and public (non-RFC1918); each events[] value is validated against WebhookEventTypeEnum; the same target_url cannot be registered twice per team. State-changing.

        Contract:
        - MCP tool `create_webhook`, registry package `mcp.orchestration/webhooks`, mount `orchestration.webhooks`.
        - Operation `create`, response envelope `create`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookRequest"
      responses:
        "200":
          description: "`create` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateWebhookResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: create_webhook
      x-gtm-mcp-mount: orchestration.webhooks
      x-gtm-entity: webhooks
      x-gtm-operation: create
      x-gtm-envelope: create
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/webhooks/search:
    post:
      operationId: search_webhooks
      summary: Search webhooks
      description: |-
        List webhook subscriptions owned by the caller's team with filter, sort and cursor pagination. Filter by status, subscribed event types (events.contains / contains_any), account narrowing or name; include=latest_webhook_logs for the recent-delivery view. secret is masked (null) on every read. Use this to find a webhook sid before calling webhook-scoped tools.

        Contract:
        - MCP tool `search_webhooks`, registry package `mcp.orchestration/webhooks`, mount `orchestration.webhooks`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - webhooks
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchWebhooksRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchWebhooksResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_webhooks
      x-gtm-mcp-mount: orchestration.webhooks
      x-gtm-entity: webhooks
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/webhooks/{sid}:
    get:
      operationId: get_webhook
      summary: Get webhook
      description: |-
        Fetch a single webhook by sid. Use include=latest_webhook_logs for the recent delivery view. secret is masked (null) on reads.

        Contract:
        - MCP tool `get_webhook`, registry package `mcp.orchestration/webhooks`, mount `orchestration.webhooks`.
        - Operation `get`, response envelope `get`.
        - Flags: read only.
      tags:
        - webhooks
      parameters:
        - name: sid
          in: path
          required: true
          description: Path segment `{sid}`.
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^wh_hk_
        - name: include[]
          in: query
          required: false
          description: Query parameter `include`.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - latest_webhook_logs
      responses:
        "200":
          description: "`get` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetWebhookResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_webhook
      x-gtm-mcp-mount: orchestration.webhooks
      x-gtm-entity: webhooks
      x-gtm-operation: get
      x-gtm-envelope: get
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
    patch:
      operationId: update_webhook
      summary: Update webhook
      description: |-
        Patch a webhook. Editable fields: name, target_url, events, filters, status. status:'on' on a failed webhook resets the consecutive-failure counter and resumes deliveries; status:'failed' cannot be set manually. events and filters are FULL replacements, not merges. secret is NOT writable here (rotation is admin-internal). State-changing.

        Contract:
        - MCP tool `update_webhook`, registry package `mcp.orchestration/webhooks`, mount `orchestration.webhooks`.
        - Operation `update`, response envelope `update`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - webhooks
      parameters:
        - name: sid
          in: path
          required: true
          description: Webhook sid (wh_hk_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^wh_hk_
            description: Webhook sid (wh_hk_…).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookRequest"
      responses:
        "200":
          description: "`update` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateWebhookResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: update_webhook
      x-gtm-mcp-mount: orchestration.webhooks
      x-gtm-entity: webhooks
      x-gtm-operation: update
      x-gtm-envelope: update
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
    delete:
      operationId: delete_webhook
      summary: Delete webhook
      description: |-
        Soft-delete a webhook (deleted_at set; webhook stops matching new events). Existing webhook_logs remain queryable but un-retryable; pending / retrying deliveries are cancelled. Destructive and one-way (no API undo).

        Contract:
        - MCP tool `delete_webhook`, registry package `mcp.orchestration/webhooks`, mount `orchestration.webhooks`.
        - Operation `delete`, response envelope `delete_simple`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - webhooks
      parameters:
        - name: sid
          in: path
          required: true
          description: Path segment `{sid}`.
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^wh_hk_
      responses:
        "200":
          description: "`delete_simple` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteWebhookResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: delete_webhook
      x-gtm-mcp-mount: orchestration.webhooks
      x-gtm-entity: webhooks
      x-gtm-operation: delete
      x-gtm-envelope: delete_simple
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
  /api/webhooks/{sid}/test:
    post:
      operationId: test_webhook
      summary: Test webhook
      description: |-
        Synchronously POST a synthetic payload to the webhook target_url and return the receiver response (HTTP status, duration, error kind). Verifies endpoint health / signature handling without waiting for a real event; does NOT write to webhook_logs and does NOT affect the consecutive-failure counter. Allowed while status=failed (revival flow); rejected while status=off. Rate-limited to 10 calls/min per webhook. Outward live HTTP probe.

        Contract:
        - MCP tool `test_webhook`, registry package `mcp.orchestration/webhooks`, mount `orchestration.webhooks`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - webhooks
      parameters:
        - name: sid
          in: path
          required: true
          description: Webhook sid (wh_hk_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^wh_hk_
            description: Webhook sid (wh_hk_…).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TestWebhookRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestWebhookResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: test_webhook
      x-gtm-mcp-mount: orchestration.webhooks
      x-gtm-entity: webhooks
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: complex
components:
  securitySchemes:
    BearerJwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token issued by gtm.service.id. Its `access_identity` claim carries `team_sid`, `actor_sid` and `actor_type`, and that team scope is authoritative.
    TeamSid:
      type: apiKey
      in: header
      name: Team-SID
      description: Team scope for tokens that do not carry one. Ignored when the token already names a team.
  responses:
    McpClientError:
      description: MCP error envelope. `error.code` is one of validation_failed, nothing_to_update, not_found, relation_not_found, invalid_transition, limit_exceeded, payment_required, duplicate_rejected, conflict, delete_blocked, unauthorized, forbidden, rate_limited, not_implemented.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/McpError"
    McpServerError:
      description: MCP error envelope with `error.code` internal_error or service_unavailable.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/McpError"
  schemas:
    CancelWebhookLogRequest:
      type: object
      description: Request body of `cancel_webhook_log`.
      properties:
        expected_status:
          type: string
          enum:
            - pending
            - in_progress
            - retrying
            - success
            - failed
            - cancelled
          description: Optional CAS guard; rejected with 409 precondition_failed when current status differs.
    CancelWebhookLogResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        operation:
          type: string
          enum:
            - action
        action:
          type: string
          description: kebab-case verb; matches the route segment.
        item:
          type: object
          nullable: true
          properties:
            sid:
              type: string
            team_sid:
              type: string
            webhook_sid:
              type: string
            account_sid:
              type: string
              nullable: true
            source_service:
              type: string
              nullable: true
            event_type:
              type: string
            event_source_sid:
              type: string
              nullable: true
            status:
              type: string
              enum:
                - pending
                - in_progress
                - retrying
                - success
                - failed
                - cancelled
            retry_count:
              type: number
            cancel_reason:
              type: string
              nullable: true
              enum:
                - manual
                - webhook_deleted
                - webhook_disabled
            request_method:
              type: string
            request_url:
              type: string
            request_headers:
              type: object
              additionalProperties:
                type: string
            request_payload:
              type: object
              additionalProperties: {}
            response_code:
              type: number
              nullable: true
            error_message:
              type: string
              nullable: true
            duration_ms:
              type: number
              nullable: true
            scheduled_at:
              type: string
            executed_at:
              type: string
              nullable: true
            created_at:
              type: string
            updated_at:
              type: string
          required:
            - sid
            - team_sid
            - webhook_sid
            - account_sid
            - source_service
            - event_type
            - event_source_sid
            - status
            - retry_count
            - cancel_reason
            - request_method
            - request_url
            - request_headers
            - request_payload
            - response_code
            - error_message
            - duration_ms
            - scheduled_at
            - executed_at
            - created_at
            - updated_at
        result:
          type: object
          properties:
            previous_status:
              type: string
              enum:
                - pending
                - in_progress
                - retrying
                - success
                - failed
                - cancelled
            cancel_reason:
              type: string
              enum:
                - manual
                - webhook_deleted
                - webhook_disabled
            cancelled_at:
              type: string
            in_flight_attempt_pending:
              type: boolean
          required:
            - previous_status
            - cancel_reason
            - cancelled_at
            - in_flight_attempt_pending
        meta:
          type: object
          properties:
            trace_id:
              type: string
              description: UUID v7; same 128-bit value as the X-Trace-Id header.
            span_id:
              type: string
              pattern: ^[0-9a-f]{16}$
              description: 16 hex chars, root span of this request.
            timestamp:
              type: string
              description: ISO 8601 UTC (Y-m-dTH:i:sZ), response time.
            duration_ms:
              type: integer
              minimum: 0
              description: Server-side wall clock.
            debug_url:
              type: string
              description: Deep link to the post-call analysis UI.
          required:
            - trace_id
            - span_id
            - timestamp
            - duration_ms
            - debug_url
        credits:
          type: object
          properties:
            charged:
              type: integer
              minimum: 0
              description: Credits debited for THIS call (0 on own-account / cache hit).
            reason:
              type: string
              nullable: true
              enum:
                - infra_pool
                - limit_fallback
            executed_on:
              type: string
              enum:
                - own_account
                - infra_pool
            balance_after:
              type: integer
              nullable: true
              minimum: 0
              description: Team balance after the debit; null when the ledger was untouched.
          required:
            - charged
            - reason
            - executed_on
            - balance_after
      required:
        - success
        - operation
        - action
        - item
        - result
        - meta
    CreateMassActionRequest:
      type: object
      description: Request body of `create_mass_action`.
      properties:
        title:
          type: string
          nullable: true
          maxLength: 255
        target_entity:
          type: string
          maxLength: 128
        scope:
          anyOf:
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                    - objects
                object_sids:
                  type: array
                  items:
                    type: string
                    minLength: 18
                    maxLength: 18
                  minItems: 1
                  maxItems: 100
                  description: Existing rows of the target_entity family, 1..100.
              required:
                - kind
                - object_sids
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                    - targets
                targets:
                  type: array
                  items:
                    type: object
                    additionalProperties: {}
                  minItems: 1
                  maxItems: 100
                  description: 1..100 payload-kind identities (send-class); per-item params, shape owned by the target entity.
              required:
                - kind
                - targets
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                    - generate
                count:
                  type: integer
                  minimum: 1
                  maximum: 100
                  description: "N slot items with no pre-existing object; step 1 must be a creates: verb."
              required:
                - kind
                - count
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                    - none
              required:
                - kind
              description: "Empty: a STANDING run at 0 items that an auto-scrape appends into over time."
        plan:
          type: object
          properties:
            steps:
              type: array
              items:
                type: object
                properties:
                  tool:
                    anyOf:
                      - type: string
                        enum:
                          - linkedin-connection-requests.send-linkedin-connection-request
                          - linkedin-posting.react
                          - email-messages.send
                          - antidetect-browsers.run
                          - antidetect-browsers.stop
                          - antidetect-browsers.delete
                          - antidetect-browsers.create
                          - antidetect-browsers.generate-cloud-browser-access-key
                          - antidetect-browsers.revoke-cloud-browser-access-key
                          - linkedin-accounts.update-sync-config
                          - linkedin-account-smart-limits.update
                          - linkedin-account-smart-limits.reset-hold
                      - type: string
                        enum:
                          - linkedin-connection-requests.send
                    description: Dotted verb '{entity-kebab-plural}.{verb}'. Only these are step-eligible today; anything else fails preview with 422 not_step_eligible on field plan.steps.{i}.tool. 'linkedin-connection-requests.send' is a legacy alias of the send-linkedin-connection-request case, accepted but not the spelling to author.
                  args:
                    type: object
                    additionalProperties: {}
                    description: "The verb's own arguments, EXCLUDING the target: the target is injected per item from the object cursor or the item payload. Shared across every item of the run."
                required:
                  - tool
              minItems: 1
              maxItems: 3
              description: 1..3 steps, run in order per item. Step ids are server-assigned 1-based ordinals; do not send them. Longer intents split into sequential mass-actions.
          required:
            - steps
        schedule:
          type: object
          nullable: true
          properties:
            interval_seconds_min:
              type: integer
              minimum: 30
              maximum: 86400
            interval_seconds_max:
              type: integer
              minimum: 30
              maximum: 86400
              description: ">= interval_seconds_min."
          required:
            - interval_seconds_min
            - interval_seconds_max
          description: Paces ITEM STARTS with per-gap jitter (item k starts at item k-1 plus a uniform draw from this window). Steps inside one item run contiguously. Mandatory when the plan carries a send-class step.
        canary_mode:
          type: string
          enum:
            - none
            - first_item
        commit_token:
          type: string
          maxLength: 512
          description: "The token preview_mass_action returned for these exact inputs. Not the confirmation token of the protected-tool preview flow: it comes from preview_mass_action and nowhere else."
      required:
        - target_entity
        - scope
        - plan
        - commit_token
    CreateMassActionResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        operation:
          type: string
          enum:
            - create
        item:
          type: object
          properties:
            sid:
              type: string
            team_sid:
              type: string
            target_entity:
              type: string
            plan:
              type: object
              additionalProperties: {}
            canary_mode:
              type: string
              enum:
                - none
                - first_item
            status:
              type: string
              enum:
                - active
                - paused
            total_count:
              type: number
            credits_spent:
              type: number
            title:
              type: string
              nullable: true
            schedule:
              type: object
              nullable: true
              additionalProperties: {}
            paused_reason:
              type: string
              nullable: true
              enum:
                - manual
                - limit_reached
                - account_unavailable
                - canary_failed
                - other
            hold_till:
              type: string
              nullable: true
            canary_satisfied_at:
              type: string
              nullable: true
            started_at:
              type: string
              nullable: true
            settled_at:
              type: string
              nullable: true
            created_by:
              type: object
              nullable: true
              properties:
                actor_type:
                  type: string
                  enum:
                    - user
                    - support
                    - api_key
                    - system
                actor_sid:
                  type: string
                  nullable: true
                team_sid:
                  type: string
                permissions:
                  type: object
                  additionalProperties: {}
                request_sid:
                  type: string
                  nullable: true
                reason:
                  type: string
                  nullable: true
              required:
                - actor_type
                - actor_sid
                - team_sid
                - permissions
            deleted_by:
              type: object
              nullable: true
              properties:
                actor_type:
                  type: string
                  enum:
                    - user
                    - support
                    - api_key
                    - system
                actor_sid:
                  type: string
                  nullable: true
                team_sid:
                  type: string
                permissions:
                  type: object
                  additionalProperties: {}
                request_sid:
                  type: string
                  nullable: true
                reason:
                  type: string
                  nullable: true
              required:
                - actor_type
                - actor_sid
                - team_sid
                - permissions
            created_at:
              type: string
            updated_at:
              type: string
            deleted_at:
              type: string
              nullable: true
          required:
            - sid
            - team_sid
            - target_entity
            - plan
            - canary_mode
            - status
            - total_count
            - credits_spent
            - title
            - schedule
            - paused_reason
            - hold_till
            - canary_satisfied_at
            - started_at
            - settled_at
            - created_by
            - deleted_by
            - created_at
            - updated_at
            - deleted_at
        already_exists:
          type: boolean
        meta:
          type: object
          properties:
            trace_id:
              type: string
              description: UUID v7; same 128-bit value as the X-Trace-Id header.
            span_id:
              type: string
              pattern: ^[0-9a-f]{16}$
              description: 16 hex chars, root span of this request.
            timestamp:
              type: string
              description: ISO 8601 UTC (Y-m-dTH:i:sZ), response time.
            duration_ms:
              type: integer
              minimum: 0
              description: Server-side wall clock.
            debug_url:
              type: string
              description: Deep link to the post-call analysis UI.
          required:
            - trace_id
            - span_id
            - timestamp
            - duration_ms
            - debug_url
      required:
        - success
        - operation
        - item
        - already_exists
        - meta
    CreateWebhookRequest:
      type: object
      description: Request body of `create_webhook`.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        target_url:
          type: string
          maxLength: 2048
          description: https:// only, public IP only.
        events:
          type: array
          items:
            type: string
            enum:
              - linkedin-accounts.created
              - linkedin-accounts.restored
              - linkedin-accounts.deleted
              - linkedin-accounts.initial-sync-started
              - linkedin-accounts.initial-sync-done
              - linkedin-accounts.sync-reset
              - linkedin-accounts.premium-changed
              - linkedin-accounts.login-succeeded
              - linkedin-accounts.login-failed
              - linkedin-accounts.logged-out
              - linkedin-accounts.heartbeat-stale
              - linkedin-account-block-log.recorded
              - linkedin-account-snapshot.captured
              - linkedin-account-quota-hits.recorded
              - linkedin-account-smart-limits.limit-reached
              - linkedin-account-smart-limits.limit-released
              - linkedin-account-smart-limits.smart-limit-recomputed
              - linkedin-connection-requests.sent
              - linkedin-connection-requests.accepted
              - linkedin-connection-requests.withdrawn
              - linkedin-connection-requests.expired-detected
              - linkedin-connection-requests.resend-available
              - linkedin-connection-requests.sync-completed
              - linkedin-connection-invitations.received
              - linkedin-connection-invitations.accepted
              - linkedin-connection-invitations.ignored
              - linkedin-connection-invitations.expired-detected
              - linkedin-connection-invitations.sync-completed
              - linkedin-connections.added
              - linkedin-connections.removed
              - linkedin-connections.sync-completed
              - linkedin-followers.added
              - linkedin-messages.received
              - linkedin-messages.sent
              - linkedin-messages.send-failed
              - linkedin-conversations.created
              - linkedin-conversations.sync-completed
              - data-requests.completed
              - data-requests.failed
              - linkedin-auto-scrape-runs.completed
              - linkedin-auto-scrape-runs.failed
              - linkedin-auto-scrapes.paused
              - antidetect-browsers.logged-in
              - antidetect-browsers.logged-out
              - antidetect-browsers.started
              - antidetect-browsers.stopped
              - antidetect-browsers.start-failed
              - antidetect-browsers.running-issue
              - antidetect-browsers.error-investigation
              - antidetect-browsers.maintenance
              - antidetect-browsers.proxy-issue
              - antidetect-browsers.proxy-back-alive
              - antidetect-browsers.idle
              - account-shares.created
              - account-shares.returned
              - account-shares.recalled
              - account-shares.failed
              - account-transfers.completed
              - account-transfers.failed
              - webhooks.failed
              - email-accounts.connected
              - email-accounts.reconnect-required
              - email-accounts.sending-paused
              - email-accounts.sending-resumed
              - email-accounts.disconnected
              - email-accounts.deleted
              - email-accounts.sync-completed
              - email-messages.received
              - email-messages.sent
              - email-messages.bounced
              - email-messages.complained
              - email-messages.failed
              - email-messages.deleted
              - email-threads.updated
              - email-engagements.opened
              - email-engagements.clicked
              - email-engagements.unsubscribed
              - email-account-health.snapshot-captured
              - email-account-health.score-critical
              - email-suppressions.created
              - email-suppressions.deleted
              - email-tracking-domains.verified
              - email-tracking-domains.failed
              - email-sending-domains.verified
              - email-sending-domains.failed
              - mass-actions.created
              - mass-actions.paused
              - mass-actions.resumed
              - mass-actions.settled
          minItems: 1
          description: At least one WebhookEventTypeEnum value.
        filters:
          type: object
          properties:
            account_sid:
              type: string
              minLength: 18
              maxLength: 18
              description: "char(18) account sid (ln_ac_… / em_ac_…): only deliver events for this account."
          description: Optional narrowing (e.g. status, events).
      required:
        - name
        - target_url
        - events
    CreateWebhookResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        operation:
          type: string
          enum:
            - create
        item:
          type: object
          properties:
            sid:
              type: string
            team_sid:
              type: string
            name:
              type: string
            target_url:
              type: string
            events:
              type: array
              items:
                type: string
            filters:
              type: object
              additionalProperties: {}
            secret:
              type: string
              nullable: true
            status:
              type: string
              enum:
                - on
                - off
                - failed
            consecutive_failed_attempts:
              type: number
            last_failure_at:
              type: string
              nullable: true
            created_by:
              type: object
              properties:
                actor_type:
                  type: string
                  enum:
                    - user
                    - support
                    - api_key
                    - system
                actor_sid:
                  type: string
                  nullable: true
                team_sid:
                  type: string
                permissions:
                  type: object
                  additionalProperties: {}
                request_sid:
                  type: string
                  nullable: true
                reason:
                  type: string
                  nullable: true
              required:
                - actor_type
                - actor_sid
                - team_sid
                - permissions
            deleted_by:
              type: object
              nullable: true
              properties:
                actor_type:
                  type: string
                  enum:
                    - user
                    - support
                    - api_key
                    - system
                actor_sid:
                  type: string
                  nullable: true
                team_sid:
                  type: string
                permissions:
                  type: object
                  additionalProperties: {}
                request_sid:
                  type: string
                  nullable: true
                reason:
                  type: string
                  nullable: true
              required:
                - actor_type
                - actor_sid
                - team_sid
                - permissions
            created_at:
              type: string
            updated_at:
              type: string
            deleted_at:
              type: string
              nullable: true
          required:
            - sid
            - team_sid
            - name
            - target_url
            - events
            - filters
            - status
            - consecutive_failed_attempts
            - last_failure_at
            - created_by
            - deleted_by
            - created_at
            - updated_at
            - deleted_at
        already_exists:
          type: boolean
        meta:
          type: object
          properties:
            trace_id:
              type: string
              description: UUID v7; same 128-bit value as the X-Trace-Id header.
            span_id:
              type: string
              pattern: ^[0-9a-f]{16}$
              description: 16 hex chars, root span of this request.
            timestamp:
              type: string
              description: ISO 8601 UTC (Y-m-dTH:i:sZ), response time.
            duration_ms:
              type: integer
              minimum: 0
              description: Server-side wall clock.
            debug_url:
              type: string
              description: Deep link to the post-call analysis UI.
          required:
            - trace_id
            - span_id
            - timestamp
            - duration_ms
            - debug_url
      required:
        - success
        - operation
        - item
        - already_exists
        - meta
    DeleteMassActionResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        operation:
          type: string
          enum:
            - delete
        item:
          type: object
          additionalProperties: {}
        already_deleted:
          type: boolean
        soft_deleted:
          type: boolean
        cascade:
          type: object
          nullable: true
          properties:
            summary:
              type: string
            details:
              type: array
              items:
                type: object
                properties:
                  entity:
                    type: string
                  deleted:
                    type: integer
                  cancelled:
                    type: integer
                required:
                  - entity
                  - deleted
            recovery_available_until:
              type: string
              nullable: true
          required:
            - summary
            - details
            - recovery_available_until
        meta:
          type: object
          properties:
            trace_id:
              type: string
              description: UUID v7; same 128-bit value as the X-Trace-Id header.
            span_id:
              type: string
              pattern: ^[0-9a-f]{16}$
              description: 16 hex chars, root span of this request.
            timestamp:
              type: string
              description: ISO 8601 UTC (Y-m-dTH:i:sZ), response time.
            duration_ms:
              type: integer
              minimum: 0
              description: Server-side wall clock.
            debug_url:
              type: string
              description: Deep link to the post-call analysis UI.
          required:
            - trace_id
            - span_id
            - timestamp
            - duration_ms
            - debug_url
      required:
        - success
        - operation
        - item
        - already_deleted
        - soft_deleted
        - cascade
        - meta
    DeleteWebhookResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        operation:
          type: string
          enum:
            - delete
        item:
          type: object
          additionalProperties: {}
        already_deleted:
          type: boolean
        soft_deleted:
          type: boolean
        retained:
          type: array
          items:
            type: string
        meta:
          type: object
          properties:
            trace_id:
              type: string
              description: UUID v7; same 128-bit value as the X-Trace-Id header.
            span_id:
              type: string
              pattern: ^[0-9a-f]{16}$
              description: 16 hex chars, root span of this request.
            timestamp:
              type: string
              description: ISO 8601 UTC (Y-m-dTH:i:sZ), response time.
            duration_ms:
              type: integer
              minimum: 0
              description: Server-side wall clock.
            debug_url:
              type: string
              description: Deep link to the post-call analysis UI.
          required:
            - trace_id
            - span_id
            - timestamp
            - duration_ms
            - debug_url
      required:
        - success
        - operation
        - item
        - already_deleted
        - soft_deleted
        - retained
        - meta
    GetMassActionResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        operation:
          type: string
          enum:
            - get
        item:
          type: object
          properties:
            sid:
              type: string
            team_sid:
              type: string
            target_entity:
              type: string
            plan:
              type: object
              additionalProperties: {}
            canary_mode:
              type: string
              enum:
                - none
                - first_item
            status:
              type: string
              enum:
                - active
                - paused
            total_count:
              type: number
            credits_spent:
              type: number
            title:
              type: string
              nullable: true
            schedule:
              type: object
              nullable: true
              additionalProperties: {}
            paused_reason:
              type: string
              nullable: true
              enum:
                - manual
                - limit_reached
                - account_unavailable
                - canary_failed
                - other
            hold_till:
              type: string
              nullable: true
            canary_satisfied_at:
              type: string
              nullable: true
            started_at:
              type: string
              nullable: true
            settled_at:
              type: string
              nullable: true
            created_by:
              type: object
              nullable: true
              properties:
                actor_type:
                  type: string
                  enum:
                    - user
                    - support
                    - api_key
                    - system
                actor_sid:
                  type: string
                  nullable: true
                team_sid:
                  type: string
                permissions:
                  type: object
                  additionalProperties: {}
                request_sid:
                  type: string
                  nullable: true
                reason:
                  type: string
                  nullable: true
              required:
                - actor_type
                - actor_sid
                - team_sid
                - permissions
            deleted_by:
              type: object
              nullable: true
              properties:
                actor_type:
                  type: string
                  enum:
                    - user
                    - support
                    - api_key
                    - system
                actor_sid:
                  type: string
                  nullable: true
                team_sid:
                  type: string
                permissions:
                  type: object
                  additionalProperties: {}
                request_sid:
                  type: string
                  nullable: true
                reason:
                  type: string
                  nullable: true
              required:
                - actor_type
                - actor_sid
                - team_sid
                - permissions
            created_at:
              type: string
            updated_at:
              type: string
            deleted_at:
              type: string
              nullable: true
          required:
            - sid
            - team_sid
            - target_entity
            - plan
            - canary_mode
            - status
            - total_count
            - credits_spent
            - title
            - schedule
            - paused_reason
            - hold_till
            - canary_satisfied_at
            - started_at
            - settled_at
            - created_by
            - deleted_by
            - created_at
            - updated_at
            - deleted_at
        included:
          type: object
          additionalProperties: {}
        includes:
          type: array
          items:
            type: string
        meta:
          type: object
          properties:
            trace_id:
              type: string
              description: UUID v7; same 128-bit value as the X-Trace-Id header.
            span_id:
              type: string
              pattern: ^[0-9a-f]{16}$
              description: 16 hex chars, root span of this request.
            timestamp:
              type: string
              description: ISO 8601 UTC (Y-m-dTH:i:sZ), response time.
            duration_ms:
              type: integer
              minimum: 0
              description: Server-side wall clock.
            debug_url:
              type: string
              description: Deep link to the post-call analysis UI.
          required:
            - trace_id
            - span_id
            - timestamp
            - duration_ms
            - debug_url
      required:
        - success
        - operation
        - item
        - included
        - includes
        - meta
    GetMassActionsMetricsRequest:
      type: object
      description: Request body of `get_mass_actions_metrics`.
      properties:
        filter:
          type: object
          properties:
            sid:
              type: object
              properties:
                eq:
                  type: string
                in:
                  type: array
                  items:
                    type: string
              additionalProperties: false
            team_sid:
              type: object
              properties:
                eq:
                  type: string
              additionalProperties: false
              description: Auto-applied from the JWT scope; not overridable.
            target_entity:
              type: object
              properties:
                eq:
                  type: string
                ne:
                  type: string
                in:
                  type: array
                  items:
                    type: string
                nin:
                  type: array
                  items:
                    type: string
              additionalProperties: false
            status:
              type: object
              properties:
                eq:
                  type: string
                  enum:
                    - active
                    - paused
                in:
                  type: array
                  items:
                    type: string
                    enum:
                      - active
                      - paused
              additionalProperties: false
            paused_reason:
              type: object
              properties:
                eq:
                  type: string
                  enum:
                    - manual
                    - limit_reached
                    - account_unavailable
                    - canary_failed
                    - other
                in:
                  type: array
                  items:
                    type: string
                    enum:
                      - manual
                      - limit_reached
                      - account_unavailable
                      - canary_failed
                      - other
                is_null:
                  type: boolean
              additionalProperties: false
            hold_till:
              type: object
              properties:
                gte:
                  type: string
                lte:
                  type: string
                gt:
                  type: string
                lt:
                  type: string
                is_null:
                  type: boolean
              additionalProperties: false
            canary_satisfied_at:
              type: object
              properties:
                gte:
                  type: string
                lte:
                  type: string
                is_null:
                  type: boolean
              additionalProperties: false
              description: is_null:true = the canary gate is still closed.
            started_at:
              type: object
              properties:
                gte:
                  type: string
                lte:
                  type: string
                gt:
                  type: string
                lt:
                  type: string
                is_null:
                  type: boolean
              additionalProperties: false
            settled_at:
              type: object
              properties:
                gte:
                  type: string
                lte:
                  type: string
                gt:
                  type: string
                lt:
                  type: string
                is_null:
                  type: boolean
              additionalProperties: false
            created_at:
              type: object
              properties:
                gte:
                  type: string
                lte:
                  type: string
                gt:
                  type: string
                lt:
                  type: string
              additionalProperties: false
            updated_at:
              type: object
              properties:
                gte:
                  type: string
                lte:
                  type: string
                gt:
                  type: string
                lt:
                  type: string
              additionalProperties: false
            deleted_at:
              type: object
              properties:
                gte:
                  type: string
                lte:
                  type: string
                is_null:
                  type: boolean
              additionalProperties: false
              description: Omit for live runs only; send any operator to bring stopped (soft-deleted) runs into scope.
    GetMassActionsMetricsResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        operation:
          type: string
          enum:
            - metrics
        metrics:
          type: object
          properties:
            filter:
              type: object
              additionalProperties: {}
            period:
              type: object
              properties:
                from:
                  type: string
                to:
                  type: string
              required:
                - from
                - to
            aggregated:
              type: object
              properties:
                counts:
                  type: object
                  additionalProperties: {}
                metrics:
                  type: object
                  properties:
                    items_by_status:
                      type: object
                      additionalProperties:
                        type: number
                    items_by_current_step:
                      type: object
                      additionalProperties:
                        type: number
                    items_by_wait_reason:
                      type: object
                      additionalProperties:
                        type: number
                    in_flight:
                      type: number
                    next_scheduled_at:
                      type: string
                      nullable: true
                    last_scheduled_at:
                      type: string
                      nullable: true
                    credits_spent:
                      type: number
                    created_objects:
                      type: object
                      additionalProperties:
                        type: number
                    top_errors:
                      type: array
                      items:
                        type: object
                        properties:
                          prefix:
                            type: string
                          count:
                            type: number
                        required:
                          - prefix
                          - count
                  required:
                    - items_by_status
                    - items_by_current_step
                    - items_by_wait_reason
                    - in_flight
                    - next_scheduled_at
                    - last_scheduled_at
                    - credits_spent
                    - created_objects
                    - top_errors
            metrics:
              type: object
              properties:
                items_by_status:
                  type: object
                  additionalProperties:
                    type: number
                items_by_current_step:
                  type: object
                  additionalProperties:
                    type: number
                items_by_wait_reason:
                  type: object
                  additionalProperties:
                    type: number
                in_flight:
                  type: number
                next_scheduled_at:
                  type: string
                  nullable: true
                last_scheduled_at:
                  type: string
                  nullable: true
                credits_spent:
                  type: number
                created_objects:
                  type: object
                  additionalProperties:
                    type: number
                top_errors:
                  type: array
                  items:
                    type: object
                    properties:
                      prefix:
                        type: string
                      count:
                        type: number
                    required:
                      - prefix
                      - count
              required:
                - items_by_status
                - items_by_current_step
                - items_by_wait_reason
                - in_flight
                - next_scheduled_at
                - last_scheduled_at
                - credits_spent
                - created_objects
                - top_errors
        applied_filters:
          type: object
          additionalProperties: {}
        meta:
          type: object
          properties:
            trace_id:
              type: string
              description: UUID v7; same 128-bit value as the X-Trace-Id header.
            span_id:
              type: string
              pattern: ^[0-9a-f]{16}$
              description: 16 hex chars, root span of this request.
            timestamp:
              type: string
              description: ISO 8601 UTC (Y-m-dTH:i:sZ), response time.
            duration_ms:
              type: integer
              minimum: 0
              description: Server-side wall clock.
            debug_url:
              type: string
              description: Deep link to the post-call analysis UI.
          required:
            - trace_id
            - span_id
            - timestamp
            - duration_ms
            - debug_url
      required:
        - success
        - operation
        - metrics
        - meta
    GetWebhookLogsMetricsRequest:
      type: object
      description: Request body of `get_webhook_logs_metrics`.
      properties:
        filter:
          type: object
          properties:
            sid:
              type: object
              properties:
                eq:
                  type: string
                in:
                  type: array
                  items:
                    type: string
              additionalProperties: false
            webhook_sid:
              type: object
              properties:
                eq:
                  type: string
                in:
                  type: array
                  items:
                    type: string
              additionalProperties: false
            account_sid:
              type: object
              properties:
                eq:
                  type: string
                in:
                  type: array
                  items:
                    type: string
                is_null:
                  type: boolean
              additionalProperties: false
              description: Account the event belongs to, any channel (ln_ac_… / em_ac_…). is_null:true selects team-wide events (benchmarks, webhooks-meta).
            source_service:
              type: object
              properties:
                eq:
                  type: string
                in:
                  type: array
                  items:
                    type: string
              additionalProperties: false
              description: Emitting service, e.g. 'linkedin' or 'email'.
            event_type:
              type: object
              properties:
                eq:
                  type: string
                ne:
                  type: string
                in:
                  type: array
                  items:
                    type: string
                nin:
                  type: array
                  items:
                    type: string
              additionalProperties: false
            event_source_sid:
              type: object
              properties:
                eq:
                  type: string
                in:
                  type: array
                  items:
                    type: string
              additionalProperties: false
            status:
              type: object
              properties:
                eq:
                  type: string
                  enum:
                    - pending
                    - in_progress
                    - retrying
                    - success
                    - failed
                    - cancelled
                ne:
                  type: string
                  enum:
                    - pending
                    - in_progress
                    - retrying
                    - success
                    - failed
                    - cancelled
                in:
                  type: array
                  items:
                    type: string
                    enum:
                      - pending
                      - in_progress
                      - retrying
                      - success
                      - failed
                      - cancelled
                nin:
                  type: array
                  items:
                    type: string
                    enum:
                      - pending
                      - in_progress
                      - retrying
                      - success
                      - failed
                      - cancelled
              additionalProperties: false
              description: in:['pending','retrying'] = still in flight.
            cancel_reason:
              type: object
              properties:
                eq:
                  type: string
                  enum:
                    - manual
                    - webhook_deleted
                    - webhook_disabled
                in:
                  type: array
                  items:
                    type: string
                    enum:
                      - manual
                      - webhook_deleted
                      - webhook_disabled
                is_null:
                  type: boolean
              additionalProperties: false
            retry_count:
              type: object
              properties:
                eq:
                  type: number
                ne:
                  type: number
                gte:
                  type: number
                lte:
                  type: number
                gt:
                  type: number
                lt:
                  type: number
              additionalProperties: false
            response_code:
              type: object
              properties:
                eq:
                  type: number
                ne:
                  type: number
                gte:
                  type: number
                lte:
                  type: number
                gt:
                  type: number
                lt:
                  type: number
                is_null:
                  type: boolean
              additionalProperties: false
              description: is_null:true = network / timeout / TLS error (no HTTP response).
            duration_ms:
              type: object
              properties:
                eq:
                  type: number
                ne:
                  type: number
                gte:
                  type: number
                lte:
                  type: number
                gt:
                  type: number
                lt:
                  type: number
                is_null:
                  type: boolean
              additionalProperties: false
            scheduled_at:
              type: object
              properties:
                gte:
                  type: string
                lte:
                  type: string
                gt:
                  type: string
                lt:
                  type: string
              additionalProperties: false
            executed_at:
              type: object
              properties:
                gte:
                  type: string
                lte:
                  type: string
                gt:
                  type: string
                lt:
                  type: string
                is_null:
                  type: boolean
              additionalProperties: false
            created_at:
              type: object
              properties:
                gte:
                  type: string
                lte:
                  type: string
                gt:
                  type: string
                lt:
                  type: string
              additionalProperties: false
        period:
          type: object
          properties:
            from:
              type: string
              description: ISO 8601 UTC window start (inclusive).
            to:
              type: string
              description: ISO 8601 UTC window end (exclusive); must be after from.
          required:
            - from
            - to
          description: Required metrics window [from, to), max 90 days.
        group_by:
          type: string
          enum:
            - status
            - event_type
            - response_code
            - webhook_sid
            - account_sid
          description: Optional single split axis.
      required:
        - period
    GetWebhookLogsMetricsResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        operation:
          type: string
          enum:
            - metrics
        metrics:
          type: object
          properties:
            filter:
              type: object
              additionalProperties: {}
            period:
              type: object
              properties:
                from:
                  type: string
                to:
                  type: string
              required:
                - from
                - to
            aggregated:
              type: object
              properties:
                counts:
                  type: object
                  additionalProperties: {}
                metrics:
                  type: object
                  properties:
                    success_rate:
                      type: number
                      nullable: true
                    failure_rate:
                      type: number
                      nullable: true
                    avg_duration_ms:
                      type: number
                      nullable: true
                    p50_duration_ms:
                      type: number
[...]
