# GENERATED FILE. Do not edit.
#
# Projected from the Zod MCP tool registry in product/mcp/gtm.mcp.
# Regenerate:  cd product/mcp/gtm.mcp && pnpm openapi:public
# Verify:      cd product/mcp/gtm.mcp && pnpm openapi:public:check
openapi: 3.0.3
info:
  title: "GTM API public contract: gtm.service.linkedin"
  description: |-
    Connected LinkedIn accounts and everything driven through them: account health and smart limits, conversations and messages, the connection graph, outbound posting, scraping, profile and company enrichment, and the antidetect browsers that execute it all.

    GENERATED. This document is projected from the Zod MCP tool registry in `product/mcp/gtm.mcp` (one tool per public endpoint, 1:1). Do not edit it by hand; edit the tool definition and regenerate with `pnpm openapi:public`.

    Surface: the public `/api` contract of `gtm.service.linkedin`, 150 operations. Internal (`/internal`) and health endpoints are deliberately absent; the code-faithful spec that documents those lives in `product/openapi/gtm.openapi.tech`.

    Conventions:
    - Auth is a bearer JWT, optionally narrowed by the `Team-SID` header.
    - Every success body is an MCP envelope: `success: true` plus one typed `operation` shape (`search`, `get`, `create`, `update`, `delete`, `metrics`, `group_by`, `action`), and a `meta` block with `trace_id` for support.
    - Every failure is the same `McpError` envelope with a code from a fixed 16-code taxonomy, so a client maps errors once.
    - Lists page with `page_size` (0 to 500, default 50) plus an opaque forward `cursor`; `page_size: 0` returns counts only.
    - On `GET` and `DELETE`, object-valued query parameters (`filter`, `sort`) travel as JSON text and array-valued ones repeat as `name[]=value`.
    - The MCP-only `_meta` field (usage analytics) never reaches the backend and is not part of this contract.
  version: "1.0"
  contact:
    name: GTM API
    url: https://gtm-api.com
    email: support@gtm-api.com
  license:
    name: Proprietary
    url: https://gtm-api.com/license
servers:
  - url: https://app.gtm-api.com/linkedin/v4
    description: Production, through the app.gtm-api.com gateway
security:
  - BearerJwt: []
    TeamSid: []
tags:
  - name: antidetect_browser_logs
    description: Registry package `mcp.linkedin/antidetect_browser_logs`, served on MCP mount `linkedin.browsers`.
  - name: antidetect_browser_proxies
    description: Registry package `mcp.linkedin/antidetect_browser_proxies`, served on MCP mount `linkedin.browsers`.
  - name: antidetect_browsers
    description: Registry package `mcp.linkedin/antidetect_browsers`, served on MCP mount `linkedin.browsers`.
  - name: cloud_browser_sessions
    description: Registry package `mcp.linkedin/cloud_browser_sessions`, served on MCP mount `linkedin.browsers`.
  - name: cloud_browsers
    description: Registry package `mcp.linkedin/cloud_browsers`, served on MCP mount `linkedin.browsers`.
  - name: data_requests
    description: Registry package `mcp.linkedin/data_requests`, served on MCP mount `linkedin.data`.
  - name: linkedin_account_activity_log
    description: Registry package `mcp.linkedin/linkedin_account_activity_log`, served on MCP mount `linkedin.account-monitor`.
  - name: linkedin_account_block_log
    description: Registry package `mcp.linkedin/linkedin_account_block_log`, served on MCP mount `linkedin.account-monitor`.
  - name: linkedin_account_quota_hits
    description: Registry package `mcp.linkedin/linkedin_account_quota_hits`, served on MCP mount `linkedin.account-monitor`.
  - name: linkedin_account_smart_limits
    description: Registry package `mcp.linkedin/linkedin_account_smart_limits`, served on MCP mount `linkedin.accounts`.
  - name: linkedin_account_snapshots
    description: Registry package `mcp.linkedin/linkedin_account_snapshots`, served on MCP mount `linkedin.account-monitor`.
  - name: linkedin_account_sync_runs
    description: Registry package `mcp.linkedin/linkedin_account_sync_runs`, served on MCP mount `linkedin.account-monitor`.
  - name: linkedin_accounts
    description: Registry package `mcp.linkedin/linkedin_accounts`, served on MCP mount `linkedin.accounts`.
  - name: linkedin_auto_scrape_results
    description: Registry package `mcp.linkedin/linkedin_auto_scrape_results`, served on MCP mount `linkedin.auto-scrapes`.
  - name: linkedin_auto_scrape_runs
    description: Registry package `mcp.linkedin/linkedin_auto_scrape_runs`, served on MCP mount `linkedin.auto-scrapes`.
  - name: linkedin_auto_scrapes
    description: Registry package `mcp.linkedin/linkedin_auto_scrapes`, served on MCP mount `linkedin.auto-scrapes`.
  - name: linkedin_benchmarks
    description: Registry package `mcp.linkedin/linkedin_benchmarks`, served on MCP mount `linkedin.account-monitor`.
  - name: linkedin_connection_invitations
    description: Registry package `mcp.linkedin/linkedin_connection_invitations`, served on MCP mount `linkedin.network`.
  - name: linkedin_connection_requests
    description: Registry package `mcp.linkedin/linkedin_connection_requests`, served on MCP mount `linkedin.network`.
  - name: linkedin_connections
    description: Registry package `mcp.linkedin/linkedin_connections`, served on MCP mount `linkedin.network`.
  - name: linkedin_conversations
    description: Registry package `mcp.linkedin/linkedin_conversations`, served on MCP mount `linkedin.messaging`.
  - name: linkedin_custom_requests
    description: Registry package `mcp.linkedin/linkedin_custom_requests`, served on MCP mount `linkedin.platform`.
  - name: linkedin_enrichment
    description: Registry package `mcp.linkedin/linkedin_enrichment`, served on MCP mount `linkedin.enrichment`.
  - name: linkedin_followers
    description: Registry package `mcp.linkedin/linkedin_followers`, served on MCP mount `linkedin.network`.
  - name: linkedin_messages
    description: Registry package `mcp.linkedin/linkedin_messages`, served on MCP mount `linkedin.messaging`.
  - name: linkedin_posting
    description: Registry package `mcp.linkedin/linkedin_posting`, served on MCP mount `linkedin.content`.
  - name: linkedin_scraping
    description: Registry package `mcp.linkedin/linkedin_scraping`, served on MCP mount `linkedin.scraping`.
paths:
  /api/antidetect-browser-logs/search:
    post:
      operationId: search_antidetect_browser_logs
      summary: Search antidetect browser logs
      description: |-
        List antidetect-browser runtime log rows for the team with filters, sorting and cursor pagination. This is the operational trail behind a browser's status (start/stop, runtime errors, proxy issues, logouts). Returns a counts block of predicate tallies; include[] can eager-load the antidetect_browser. Scope to one browser with antidetect_browser_sid.

        Contract:
        - MCP tool `search_antidetect_browser_logs`, registry package `mcp.linkedin/antidetect_browser_logs`, mount `linkedin.browsers`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - antidetect_browser_logs
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchAntidetectBrowserLogsRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchAntidetectBrowserLogsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_antidetect_browser_logs
      x-gtm-mcp-mount: linkedin.browsers
      x-gtm-entity: antidetect_browser_logs
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/antidetect-browser-proxies/check-proxy-connectivity:
    post:
      operationId: check_antidetect_browser_proxy_connectivity
      summary: Check proxy connectivity
      description: |-
        Probe connectivity + latency for one or many proxies. Target EXACTLY ONE of sid (ab_px_) or filter; filter mode checks up to an inline cap and reports total_matched (truncated:true when the cap was hit). Read-only probe, no row mutation.

        Contract:
        - MCP tool `check_antidetect_browser_proxy_connectivity`, registry package `mcp.linkedin/antidetect_browser_proxies`, mount `linkedin.browsers`.
        - Operation `action`, response envelope `action`.
        - Flags: mass action: this verb's own request accepts a filter or targets[] set, which the owning service drains.
      tags:
        - antidetect_browser_proxies
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckAntidetectBrowserProxyConnectivityRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckAntidetectBrowserProxyConnectivityResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: check_antidetect_browser_proxy_connectivity
      x-gtm-mcp-mount: linkedin.browsers
      x-gtm-entity: antidetect_browser_proxies
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: true
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/antidetect-browser-proxies/check-proxy-location:
    post:
      operationId: check_antidetect_browser_proxy_location
      summary: Check proxy location
      description: |-
        Run a multi-vendor geo + fraud check on one or many proxies. Target EXACTLY ONE of sid (ab_px_) or filter; filter mode checks up to an inline cap and reports total_matched (truncated:true when the cap was hit). Read-only probe, no row mutation.

        Contract:
        - MCP tool `check_antidetect_browser_proxy_location`, registry package `mcp.linkedin/antidetect_browser_proxies`, mount `linkedin.browsers`.
        - Operation `action`, response envelope `action`.
        - Flags: mass action: this verb's own request accepts a filter or targets[] set, which the owning service drains.
      tags:
        - antidetect_browser_proxies
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckAntidetectBrowserProxyLocationRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckAntidetectBrowserProxyLocationResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: check_antidetect_browser_proxy_location
      x-gtm-mcp-mount: linkedin.browsers
      x-gtm-entity: antidetect_browser_proxies
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: true
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/antidetect-browser-proxies/search:
    post:
      operationId: search_antidetect_browser_proxies
      summary: Search antidetect browser proxies
      description: |-
        List antidetect browser proxies (platform-wide pool) with filters, sorting and cursor pagination. Live proxies by default (deleted_at.is_null:true). Credentials (ip / port / username / password) are masked to null on this public read surface.

        Contract:
        - MCP tool `search_antidetect_browser_proxies`, registry package `mcp.linkedin/antidetect_browser_proxies`, mount `linkedin.browsers`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - antidetect_browser_proxies
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchAntidetectBrowserProxiesRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchAntidetectBrowserProxiesResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_antidetect_browser_proxies
      x-gtm-mcp-mount: linkedin.browsers
      x-gtm-entity: antidetect_browser_proxies
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/antidetect-browsers:
    post:
      operationId: create_antidetect_browser
      summary: Create antidetect browser
      description: |-
        Provision an antidetect browser for the team. The main flow mints a fresh vendor (GoLogin) profile and pushes the resolved proxy into it, so supply exactly one proxy source (antidetect_browser_proxy_sid | proxy_country_code | custom_proxy_config). Bind an existing vendor_profile_id for the customer bring-your-own path (no proxy source then). DANGEROUS: creates real vendor + proxy infrastructure.

        Contract:
        - MCP tool `create_antidetect_browser`, registry package `mcp.linkedin/antidetect_browsers`, mount `linkedin.browsers`.
        - Operation `create`, response envelope `create`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - antidetect_browsers
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAntidetectBrowserRequest"
      responses:
        "200":
          description: "`create` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAntidetectBrowserResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: create_antidetect_browser
      x-gtm-mcp-mount: linkedin.browsers
      x-gtm-entity: antidetect_browsers
      x-gtm-operation: create
      x-gtm-envelope: create
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/antidetect-browsers/generate-cloud-browser-access-key:
    post:
      operationId: generate_cloud_browser_access_key
      summary: Generate cloud-browser access key
      description: |-
        Mint a cloud-browser access key (smart-link) on a browser so a user can sign into LinkedIn through the cloud browser. Returns the raw cb_ak_ key in result.access_key (shown once) AND result.public_connect_url, the ready-to-share link to hand to whoever signs the account in (no platform account needed on their side). Optional ttl_hours / max_connects / allowed_ips / allowed_countries scope the key. DANGEROUS: the link is a bearer secret granting remote browser access.

        Contract:
        - MCP tool `generate_cloud_browser_access_key`, registry package `mcp.linkedin/antidetect_browsers`, mount `linkedin.browsers`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - antidetect_browsers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateCloudBrowserAccessKeyRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerateCloudBrowserAccessKeyResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: generate_cloud_browser_access_key
      x-gtm-mcp-mount: linkedin.browsers
      x-gtm-entity: antidetect_browsers
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/antidetect-browsers/revoke-cloud-browser-access-key:
    post:
      operationId: revoke_cloud_browser_access_key
      summary: Revoke cloud-browser access key
      description: |-
        Revoke a cloud-browser access key on a browser. Pass the cb_ak_ key to revoke one; omit key to revoke EVERY key on the row. Only removes the key; live cloud-browser sessions are not force-disconnected. DANGEROUS: cuts off remote access.

        Contract:
        - MCP tool `revoke_cloud_browser_access_key`, registry package `mcp.linkedin/antidetect_browsers`, mount `linkedin.browsers`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - antidetect_browsers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RevokeCloudBrowserAccessKeyRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevokeCloudBrowserAccessKeyResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: revoke_cloud_browser_access_key
      x-gtm-mcp-mount: linkedin.browsers
      x-gtm-entity: antidetect_browsers
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/antidetect-browsers/run:
    post:
      operationId: run_antidetect_browser
      summary: Run antidetect browser
      description: |-
        Start an antidetect browser session by sid. Two-phase: transitions to queued_to_start, dispatches to an automation server, then settles into initializing / running / start_issue. Identify the browser by its ab_br_ sid in the body.

        Contract:
        - MCP tool `run_antidetect_browser`, registry package `mcp.linkedin/antidetect_browsers`, mount `linkedin.browsers`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - antidetect_browsers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RunAntidetectBrowserRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunAntidetectBrowserResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: run_antidetect_browser
      x-gtm-mcp-mount: linkedin.browsers
      x-gtm-entity: antidetect_browsers
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/antidetect-browsers/search:
    post:
      operationId: search_antidetect_browsers
      summary: Search antidetect browsers
      description: |-
        List antidetect browsers on the team with filters (name lookup via the vendor_name filter, eq/in), sorting and cursor pagination. Live browsers by default (deleted_at.is_null:true). Returns a counts block of predicate tallies; include[] can eager-load linkedin_account, antidetect_browser_proxy and antidetect_browser_logs. Use this to find a browser sid before run / stop / delete.

        Contract:
        - MCP tool `search_antidetect_browsers`, registry package `mcp.linkedin/antidetect_browsers`, mount `linkedin.browsers`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - antidetect_browsers
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchAntidetectBrowsersRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchAntidetectBrowsersResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_antidetect_browsers
      x-gtm-mcp-mount: linkedin.browsers
      x-gtm-entity: antidetect_browsers
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/antidetect-browsers/stop:
    post:
      operationId: stop_antidetect_browser
      summary: Stop antidetect browser
      description: |-
        Stop an antidetect browser session by sid. Default is graceful (queued_to_stop → stopped on the node teardown confirmation); now:true commits stopped immediately and dispatches a best-effort teardown. Identify the browser by its ab_br_ sid in the body.

        Contract:
        - MCP tool `stop_antidetect_browser`, registry package `mcp.linkedin/antidetect_browsers`, mount `linkedin.browsers`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - antidetect_browsers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StopAntidetectBrowserRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StopAntidetectBrowserResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: stop_antidetect_browser
      x-gtm-mcp-mount: linkedin.browsers
      x-gtm-entity: antidetect_browsers
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/antidetect-browsers/{sid}:
    get:
      operationId: get_antidetect_browser
      summary: Get antidetect browser
      description: |-
        Fetch a single antidetect browser by sid, with optional eager-loaded relations.

        Contract:
        - MCP tool `get_antidetect_browser`, registry package `mcp.linkedin/antidetect_browsers`, mount `linkedin.browsers`.
        - Operation `get`, response envelope `get`.
        - Flags: read only.
      tags:
        - antidetect_browsers
      parameters:
        - name: sid
          in: path
          required: true
          description: Path segment `{sid}`.
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ab_br_
        - name: include[]
          in: query
          required: false
          description: Query parameter `include`.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - linkedin_account
                - antidetect_browser_proxy
                - antidetect_browser_logs
      responses:
        "200":
          description: "`get` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAntidetectBrowserResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_antidetect_browser
      x-gtm-mcp-mount: linkedin.browsers
      x-gtm-entity: antidetect_browsers
      x-gtm-operation: get
      x-gtm-envelope: get
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
    delete:
      operationId: delete_antidetect_browser
      summary: Delete antidetect browser
      description: |-
        Decommission (soft-delete) a single antidetect browser by sid: outward, destructive, one-way through MCP. Variant B cascade: the bound linkedin-account is soft-deleted and pending plugin tasks transition to failed; the cascade block reports the counts. The vendor profile is left intact.

        Contract:
        - MCP tool `delete_antidetect_browser`, registry package `mcp.linkedin/antidetect_browsers`, mount `linkedin.browsers`.
        - Operation `delete`, response envelope `delete_cascade`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - antidetect_browsers
      parameters:
        - name: sid
          in: path
          required: true
          description: Path segment `{sid}`.
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ab_br_
        - name: acknowledge[]
          in: query
          required: false
          description: Resolution codes for soft blockers the user confirmed.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
            description: Resolution codes for soft blockers the user confirmed.
      responses:
        "200":
          description: "`delete_cascade` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteAntidetectBrowserResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: delete_antidetect_browser
      x-gtm-mcp-mount: linkedin.browsers
      x-gtm-entity: antidetect_browsers
      x-gtm-operation: delete
      x-gtm-envelope: delete_cascade
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/cloud-browser-sessions/metrics:
    post:
      operationId: get_cloud_browser_sessions_metrics
      summary: Cloud browser sessions metrics
      description: |-
        Period-bound aggregates over a filtered cloud-browser-session set. Requires period {from,to}. Returns total_count, active_count, avg_session_duration_seconds, login_success_rate, unique_devices_count and unique_ips_count. Optional filter and a single group_by axis (access_type / login_result / ip_country / antidetect_browser_sid / …).

        Contract:
        - MCP tool `get_cloud_browser_sessions_metrics`, registry package `mcp.linkedin/cloud_browser_sessions`, mount `linkedin.browsers`.
        - Operation `metrics`, response envelope `metrics`.
        - Flags: read only.
      tags:
        - cloud_browser_sessions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetCloudBrowserSessionsMetricsRequest"
      responses:
        "200":
          description: "`metrics` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCloudBrowserSessionsMetricsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_cloud_browser_sessions_metrics
      x-gtm-mcp-mount: linkedin.browsers
      x-gtm-entity: cloud_browser_sessions
      x-gtm-operation: metrics
      x-gtm-envelope: metrics
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/cloud-browser-sessions/search:
    post:
      operationId: search_cloud_browser_sessions
      summary: Search cloud browser sessions
      description: |-
        List cloud-browser sessions on the team with filters, sorting and cursor pagination. This is the audit trail of who connected to which browser, from where, and how each login attempt resolved. The smart-link access_key is masked to null and is not a public filter.

        Contract:
        - MCP tool `search_cloud_browser_sessions`, registry package `mcp.linkedin/cloud_browser_sessions`, mount `linkedin.browsers`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - cloud_browser_sessions
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchCloudBrowserSessionsRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchCloudBrowserSessionsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_cloud_browser_sessions
      x-gtm-mcp-mount: linkedin.browsers
      x-gtm-entity: cloud_browser_sessions
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/cloud-browsers/list-team-occupancy:
    post:
      operationId: list_cloud_browser_team_occupancy
      summary: List cloud-browser team occupancy
      description: |-
        List the cloud-browser slots the team currently occupies. Each slot carries the connected antidetect_browser sid, the connected user, and the connect / expiry timestamps. Read-only snapshot returned in result.items.

        Contract:
        - MCP tool `list_cloud_browser_team_occupancy`, registry package `mcp.linkedin/cloud_browsers`, mount `linkedin.browsers`.
        - Operation `action`, response envelope `action`.
        - Flags: read only.
      tags:
        - cloud_browsers
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCloudBrowserTeamOccupancyResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: list_cloud_browser_team_occupancy
      x-gtm-mcp-mount: linkedin.browsers
      x-gtm-entity: cloud_browsers
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
  /api/data-requests/search:
    post:
      operationId: search_data_requests
      summary: Search data requests
      description: |-
        List/filter the credit-metered request history: what was asked, where it ran, what it cost, what came from cache. The go-to tool for spend audits (charged:{gt:0}), retry forensics (idempotency_key:{eq}), per-person request history (ln_member_id:{eq}) and mid-flight visibility (status:{in:["pending","running"]}). This is a read-only ledger. To RUN scraping/enrichment call the linkedin-scraping / linkedin-enrichment surfaces instead.

        Contract:
        - MCP tool `search_data_requests`, registry package `mcp.linkedin/data_requests`, mount `linkedin.data`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - data_requests
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchDataRequestsRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchDataRequestsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_data_requests
      x-gtm-mcp-mount: linkedin.data
      x-gtm-entity: data_requests
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/data-requests/{sid}:
    get:
      operationId: get_data_request
      summary: Get data request
      description: |-
        Fetch a single ledger row by sid to inspect one request referenced from a surface response's credits block, a data-requests.* webhook, or another row's cached_from_sid pointer.

        Contract:
        - MCP tool `get_data_request`, registry package `mcp.linkedin/data_requests`, mount `linkedin.data`.
        - Operation `get`, response envelope `get`.
        - Flags: read only.
      tags:
        - data_requests
      parameters:
        - name: sid
          in: path
          required: true
          description: Path segment `{sid}`.
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^er_rq_
        - name: include[]
          in: query
          required: false
          description: Query parameter `include`.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: "`get` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDataRequestResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_data_request
      x-gtm-mcp-mount: linkedin.data
      x-gtm-entity: data_requests
      x-gtm-operation: get
      x-gtm-envelope: get
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
  /api/linkedin-account-activity-log/metrics:
    post:
      operationId: get_linkedin_account_activity_log_metrics
      summary: LinkedIn account activity-log metrics
      description: |-
        Period-bound aggregates over a filtered activity-log set (avg plugin duration, avg pending age) plus the counts block and an optional group_by axis (action_type | status | linkedin_account_sid). Use for: "what was done today/this week grouped by action_type", at-a-glance fail rate (group_by status). Guardrail (high-write table): period {from,to} is REQUIRED and filter must include linkedin_account_sid.eq/.in. Unbounded scans are rejected; window may not exceed 90 days. The filter here is NARROWER than search: linkedin_account_sid and status are the only axes the aggregation applies. Slice any other dimension with group_by, or use search.

        Contract:
        - MCP tool `get_linkedin_account_activity_log_metrics`, registry package `mcp.linkedin/linkedin_account_activity_log`, mount `linkedin.account-monitor`.
        - Operation `metrics`, response envelope `metrics`.
        - Flags: read only.
      tags:
        - linkedin_account_activity_log
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetLinkedinAccountActivityLogMetricsRequest"
      responses:
        "200":
          description: "`metrics` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLinkedinAccountActivityLogMetricsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_linkedin_account_activity_log_metrics
      x-gtm-mcp-mount: linkedin.account-monitor
      x-gtm-entity: linkedin_account_activity_log
      x-gtm-operation: metrics
      x-gtm-envelope: metrics
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/linkedin-account-activity-log/search:
    post:
      operationId: search_linkedin_account_activity_log
      summary: Search LinkedIn account activity log
      description: |-
        List activity-log rows, one per plugin call (Task↔Result cycle): pending on dispatch, then success / failed / skipped. Use for: "why is account X failing" (status:failed + created_at window, read error_message/error_code), inspecting in-flight pending tasks, cross-referencing a Grafana trace_id, and polling an MCP-triggered async action by sid until status flips terminal. NOT for LinkedIn quota hits (linkedin-account-quota-hits), the rolling limit count (linkedin-account-smart-limits), or account state (linkedin-accounts). No q. Sort: created_at (default desc) | duration_ms. include[]: linkedin_account, linkedin_account_smart_limit, sync_run.

        Contract:
        - MCP tool `search_linkedin_account_activity_log`, registry package `mcp.linkedin/linkedin_account_activity_log`, mount `linkedin.account-monitor`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - linkedin_account_activity_log
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchLinkedinAccountActivityLogRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchLinkedinAccountActivityLogResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_linkedin_account_activity_log
      x-gtm-mcp-mount: linkedin.account-monitor
      x-gtm-entity: linkedin_account_activity_log
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/linkedin-account-block-log/search:
    post:
      operationId: search_linkedin_account_block_log
      summary: Search LinkedIn account block log
      description: |-
        List per-target block observations for the team: one permanently-deduplicated row per (account, target) whenever a target profile blocked one of our accounts (established by the §5.6 check-target-block). Use for: "did target X block any of our accounts" (filter target_ln_member_id, no account filter → crosses the team), churn caused by blocks (include linkedin_connection), a hostile-segment trend (created_at window + total_count), reverse-lookup from a failed activity_log row or a soft-deleted connection. NOT for platform-wide locks (weekly cap / InMail rate-limit → linkedin-account-quota-hits) or raw plugin error text (linkedin-account-activity-log). No q; target_nickname is exact-match. Sort: created_at (default desc). include[]: linkedin_account, linkedin_account_activity_log, linkedin_connection.

        Contract:
        - MCP tool `search_linkedin_account_block_log`, registry package `mcp.linkedin/linkedin_account_block_log`, mount `linkedin.account-monitor`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - linkedin_account_block_log
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchLinkedinAccountBlockLogRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchLinkedinAccountBlockLogResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_linkedin_account_block_log
      x-gtm-mcp-mount: linkedin.account-monitor
      x-gtm-entity: linkedin_account_block_log
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/linkedin-account-quota-hits/search:
    post:
      operationId: search_linkedin_account_quota_hits
      summary: Search LinkedIn account quota hits
      description: |-
        List LinkedIn-side block events (weekly connection-request cap, InMail rate-limit, …) for the team: immutable, append-only, one row per (account, reason) per 12h dedup window. Use for: "is this account currently locked" (linkedin_quota_hit_till: { gt: "<now>" }), block-frequency trend, and "at what action volumes do blocks happen" (read the daily_count distribution). include[] linkedin_account / linkedin_account_snapshot correlate the block with account state at hit time. NOT for setting/clearing a lock (that lives on linkedin-account-smart-limits.linkedin_quota_hit_till) or per-target blocks (linkedin-account-block-log). No q. Sort: created_at (default desc) | linkedin_quota_hit_till.

        Contract:
        - MCP tool `search_linkedin_account_quota_hits`, registry package `mcp.linkedin/linkedin_account_quota_hits`, mount `linkedin.account-monitor`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - linkedin_account_quota_hits
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchLinkedinAccountQuotaHitsRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchLinkedinAccountQuotaHitsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_linkedin_account_quota_hits
      x-gtm-mcp-mount: linkedin.account-monitor
      x-gtm-entity: linkedin_account_quota_hits
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/linkedin-account-smart-limits/search:
    post:
      operationId: search_linkedin_account_smart_limits
      summary: Search LinkedIn account smart limits
      description: |-
        List per-limit_type policy rows (one account owns 15 public buckets: send_connection_requests, send_messages, send_inmails, scraping, enrichment, custom_request, …) with filters, sorting, cursor pagination and a counts block (status / limit_type / smart_limits_enabled breakdowns). Use for: "which limits are at their daily cap / held / blocked by LinkedIn" (status filter; held means the daily budget is spent), "can account X still send InMails today" (filter linkedin_account_sid + limit_type, read status + daily_limit − done_today_count), fleet capacity, smart-limit adoption rate. Single-row case = search(filter:{linkedin_account_sid, limit_type}, page_size:1). No q. include[]: linkedin_account, linkedin_account_quota_hits.

        Contract:
        - MCP tool `search_linkedin_account_smart_limits`, registry package `mcp.linkedin/linkedin_account_smart_limits`, mount `linkedin.accounts`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - linkedin_account_smart_limits
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchLinkedinAccountSmartLimitsRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchLinkedinAccountSmartLimitsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_linkedin_account_smart_limits
      x-gtm-mcp-mount: linkedin.accounts
      x-gtm-entity: linkedin_account_smart_limits
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/linkedin-account-smart-limits/{sid}:
    patch:
      operationId: update_linkedin_account_smart_limit
      summary: Update LinkedIn account smart limit
      description: |-
        Patch the operator-tunable policy of one limit row (daily_limit / target_limit / delay_in_seconds / smart_limits_enabled; at least one field OR reset_hold:true required). status is recomputed atomically. A spent daily budget shows as status "held" (there is no "saturated" status). Raising daily_limit does NOT by itself clear that hold. Pass reset_hold:true IN THE SAME CALL to raise the cap AND resume now (the atomic "raise + resume"). The hold only actually clears if the new daily_limit is above done_today_count; otherwise the saturation-latch immediately re-holds it. On a smart-managed row the persistent lever is target_limit (a manual daily_limit below smart_limit is only transient until the next snapshot). System-managed fields (done_today_count, smart_limit, hold_till, linkedin_quota_hit_till, status, …) are rejected as fields. Use reset_hold to clear the hold. A LinkedIn-side lock (linkedin_quota_hit_till) is never resettable.

        Contract:
        - MCP tool `update_linkedin_account_smart_limit`, registry package `mcp.linkedin/linkedin_account_smart_limits`, mount `linkedin.accounts`.
        - Operation `update`, response envelope `update`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - linkedin_account_smart_limits
      parameters:
        - name: sid
          in: path
          required: true
          description: Smart-limit row sid (ln_sm_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ln_sm_
            description: Smart-limit row sid (ln_sm_…).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateLinkedinAccountSmartLimitRequest"
      responses:
        "200":
          description: "`update` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateLinkedinAccountSmartLimitResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: update_linkedin_account_smart_limit
      x-gtm-mcp-mount: linkedin.accounts
      x-gtm-entity: linkedin_account_smart_limits
      x-gtm-operation: update
      x-gtm-envelope: update
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: complex
  /api/linkedin-account-smart-limits/{sid}/reset-hold:
    post:
      operationId: reset_linkedin_account_smart_limit_hold
      summary: Reset LinkedIn account smart-limit hold
      description: |-
        Clear OUR platform-side pause (hold_till = null) on one row. Prefer update({daily_limit:<higher>, reset_hold:true}) for the common "raise the cap AND resume". This standalone action is for resuming WITHOUT changing the limit (only meaningful when done_today_count < daily_limit, e.g. a systemic hold). On a spent budget (done_today_count >= daily_limit) the saturation-latch re-holds immediately, so this is a no-op that stays held; raise daily_limit first. Idempotent (no-op if hold was already clear). Does NOT touch done_today_count or linkedin_quota_hit_till: a LinkedIn-side hard lock cannot be reset from the public surface (result.new_status stays linkedin_blocked if that clock is still active).

        Contract:
        - MCP tool `reset_linkedin_account_smart_limit_hold`, registry package `mcp.linkedin/linkedin_account_smart_limits`, mount `linkedin.accounts`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - linkedin_account_smart_limits
      parameters:
        - name: sid
          in: path
          required: true
          description: Smart-limit row sid (ln_sm_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ln_sm_
            description: Smart-limit row sid (ln_sm_…).
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResetLinkedinAccountSmartLimitHoldResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: reset_linkedin_account_smart_limit_hold
      x-gtm-mcp-mount: linkedin.accounts
      x-gtm-entity: linkedin_account_smart_limits
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/linkedin-account-snapshots/search:
    post:
      operationId: search_linkedin_account_snapshots
      summary: Search LinkedIn account snapshots
      description: |-
        Per-account warmup snapshots over time (immutable, append-only, captured ~every 22h by the scheduler). Use for: a warmup trend over N days (filter linkedin_account_sid + created_at range), before/after compare (paused automation, rotated proxy/nickname), and reading warmup_breakdown + tips to explain WHY a warmup_score is what it is (score = round(100 × ∏(1 − penalty_pct/100)) over 6 compounding drivers). For the LATEST snapshot per account use linkedin-accounts.search with include[]=linkedin_account_snapshot (1:1); searching here for the latest is more expensive. No q (no text-searchable fields). Sort: created_at (default desc) | warmup_score. include[]: linkedin_account.

        Contract:
        - MCP tool `search_linkedin_account_snapshots`, registry package `mcp.linkedin/linkedin_account_snapshots`, mount `linkedin.account-monitor`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - linkedin_account_snapshots
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchLinkedinAccountSnapshotsRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchLinkedinAccountSnapshotsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_linkedin_account_snapshots
      x-gtm-mcp-mount: linkedin.account-monitor
      x-gtm-entity: linkedin_account_snapshots
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/linkedin-account-sync-runs/metrics:
    post:
      operationId: get_linkedin_account_sync_runs_metrics
      summary: LinkedIn account sync-run metrics
      description: |-
        Aggregate sync-run counters for dashboards: a counts block (total + per-status: pending, in_progress, completed, cancelled) plus avg_completed_duration_seconds, with an optional group_by axis (status | sync_type | triggered_by) that repeats the same block per group. Required period {from,to} bounds the window.

        Contract:
        - MCP tool `get_linkedin_account_sync_runs_metrics`, registry package `mcp.linkedin/linkedin_account_sync_runs`, mount `linkedin.account-monitor`.
        - Operation `metrics`, response envelope `metrics`.
        - Flags: read only.
      tags:
        - linkedin_account_sync_runs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetLinkedinAccountSyncRunsMetricsRequest"
      responses:
        "200":
          description: "`metrics` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLinkedinAccountSyncRunsMetricsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_linkedin_account_sync_runs_metrics
      x-gtm-mcp-mount: linkedin.account-monitor
      x-gtm-entity: linkedin_account_sync_runs
      x-gtm-operation: metrics
      x-gtm-envelope: metrics
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/linkedin-account-sync-runs/search:
    post:
      operationId: search_linkedin_account_sync_runs
      summary: Search LinkedIn account sync runs
      description: |-
        List sync runs: the backend-owned progress tracker for one paginated sync of one data surface (connections, connection_requests, connection_invitations, conversations, sales_navigator_conversations, followers) or a §5.7 composition (snapshot, premium_check). Use for: "is account X fully synced / how far along" (filter linkedin_account_sid + status in [pending, in_progress]), "which accounts are stuck mid-sync" (status in_progress, sort last_progress_at), "how fresh is the connection data" (latest completed connections run → finished_at). Runs are not created here; the write surface is linkedin-accounts.reset-sync / .sync. No q. Sort: created_at (default desc) | started_at | finished_at | last_progress_at | next_attempt_at | items_saved. include[]: linkedin_account, activity_log_pages, limit (default).

        Contract:
        - MCP tool `search_linkedin_account_sync_runs`, registry package `mcp.linkedin/linkedin_account_sync_runs`, mount `linkedin.account-monitor`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - linkedin_account_sync_runs
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchLinkedinAccountSyncRunsRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchLinkedinAccountSyncRunsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_linkedin_account_sync_runs
      x-gtm-mcp-mount: linkedin.account-monitor
      x-gtm-entity: linkedin_account_sync_runs
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/linkedin-account-sync-runs/{sid}:
    get:
      operationId: get_linkedin_account_sync_run
      summary: Get LinkedIn account sync run
      description: |-
        Fetch one sync run by sid, with includes (linkedin_account; activity_log_pages for the per-page fetch log; limit for the gating smart-limit bucket, always resolved). Use to drill into a single run's progress, resume-cursor state, and per-page audit.

        Contract:
        - MCP tool `get_linkedin_account_sync_run`, registry package `mcp.linkedin/linkedin_account_sync_runs`, mount `linkedin.account-monitor`.
        - Operation `get`, response envelope `get`.
        - Flags: read only.
      tags:
        - linkedin_account_sync_runs
      parameters:
        - name: sid
          in: path
          required: true
          description: Path segment `{sid}`.
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ln_sy_
        - name: include[]
          in: query
          required: false
          description: Query parameter `include`.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - linkedin_account
                - activity_log_pages
                - limit
      responses:
        "200":
          description: "`get` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLinkedinAccountSyncRunResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_linkedin_account_sync_run
      x-gtm-mcp-mount: linkedin.account-monitor
      x-gtm-entity: linkedin_account_sync_runs
      x-gtm-operation: get
      x-gtm-envelope: get
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
  /api/linkedin-accounts/search:
    post:
      operationId: search_linkedin_accounts
      summary: Search LinkedIn accounts
      description: |-
        List LinkedIn accounts on the team with filtering, sorting and cursor pagination. Returns a counts block of predicate tallies. Use this to find an account sid before calling account-scoped tools.

        Contract:
        - MCP tool `search_linkedin_accounts`, registry package `mcp.linkedin/linkedin_accounts`, mount `linkedin.accounts`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - linkedin_accounts
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchLinkedinAccountsRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchLinkedinAccountsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_linkedin_accounts
      x-gtm-mcp-mount: linkedin.accounts
      x-gtm-entity: linkedin_accounts
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/linkedin-accounts/{sid}:
    get:
      operationId: get_linkedin_account
      summary: Get LinkedIn account
      description: |-
        Fetch a single LinkedIn account by sid, with optional eager-loaded relations.

        Contract:
        - MCP tool `get_linkedin_account`, registry package `mcp.linkedin/linkedin_accounts`, mount `linkedin.accounts`.
        - Operation `get`, response envelope `get`.
        - Flags: read only.
      tags:
        - linkedin_accounts
      parameters:
        - name: sid
          in: path
          required: true
          description: Path segment `{sid}`.
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ln_ac_
        - name: include[]
          in: query
          required: false
          description: Query parameter `include`.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - antidetect_browser
                - linkedin_account_smart_limits
                - linkedin_account_snapshot
                - linkedin_account_quota_hits
                - linkedin_account_block_log
                - linkedin_account_block_log_counts
                - linkedin_connections_counts
                - linkedin_connection_requests_counts
                - linkedin_connection_invitations_counts
      responses:
        "200":
          description: "`get` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLinkedinAccountResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_linkedin_account
      x-gtm-mcp-mount: linkedin.accounts
      x-gtm-entity: linkedin_accounts
      x-gtm-operation: get
      x-gtm-envelope: get
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
  /api/linkedin-accounts/{sid}/check-premium:
    post:
      operationId: check_linkedin_account_premium_subscription
      summary: Check premium subscription
      description: |-
        Refresh and return the Premium / Sales Navigator / Recruiter subscription state and InMail credit balance for the account (self-probe, no target).

        Contract:
        - MCP tool `check_linkedin_account_premium_subscription`, registry package `mcp.linkedin/linkedin_accounts`, mount `linkedin.accounts`.
        - Operation `action`, response envelope `action`.
        - Flags: read only.
      tags:
        - linkedin_accounts
      parameters:
        - name: sid
          in: path
          required: true
          description: LinkedIn account sid (ln_ac_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ln_ac_
            description: LinkedIn account sid (ln_ac_…).
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckLinkedinAccountPremiumSubscriptionResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: check_linkedin_account_premium_subscription
      x-gtm-mcp-mount: linkedin.accounts
      x-gtm-entity: linkedin_accounts
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/linkedin-accounts/{sid}/check-recruiter:
    post:
      operationId: check_linkedin_account_recruiter_access
      summary: Check Recruiter access
      description: |-
        Granular probe: does this account currently have LinkedIn Recruiter access?

        Contract:
        - MCP tool `check_linkedin_account_recruiter_access`, registry package `mcp.linkedin/linkedin_accounts`, mount `linkedin.accounts`.
        - Operation `action`, response envelope `action`.
        - Flags: read only.
      tags:
        - linkedin_accounts
      parameters:
        - name: sid
          in: path
          required: true
          description: LinkedIn account sid (ln_ac_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ln_ac_
            description: LinkedIn account sid (ln_ac_…).
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckLinkedinAccountRecruiterAccessResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: check_linkedin_account_recruiter_access
      x-gtm-mcp-mount: linkedin.accounts
      x-gtm-entity: linkedin_accounts
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
  /api/linkedin-accounts/{sid}/check-sales-nav:
    post:
      operationId: check_linkedin_account_sales_nav_access
      summary: Check Sales Navigator access
      description: |-
        Granular probe: does this account currently have a Sales Navigator seat?

        Contract:
        - MCP tool `check_linkedin_account_sales_nav_access`, registry package `mcp.linkedin/linkedin_accounts`, mount `linkedin.accounts`.
        - Operation `action`, response envelope `action`.
        - Flags: read only.
      tags:
        - linkedin_accounts
      parameters:
        - name: sid
          in: path
          required: true
          description: LinkedIn account sid (ln_ac_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ln_ac_
            description: LinkedIn account sid (ln_ac_…).
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckLinkedinAccountSalesNavAccessResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: check_linkedin_account_sales_nav_access
      x-gtm-mcp-mount: linkedin.accounts
      x-gtm-entity: linkedin_accounts
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
  /api/linkedin-accounts/{sid}/check-target-block:
    post:
      operationId: check_linkedin_account_target_block
      summary: Check target reachability
      description: |-
        Check whether a target person can be reached from this account (not blocked / out of network). CREDITABLE: may run an infra-pool probe and debit credits, and the response carries a credits block.

        Contract:
        - MCP tool `check_linkedin_account_target_block`, registry package `mcp.linkedin/linkedin_accounts`, mount `linkedin.accounts`.
        - Operation `action`, response envelope `action`.
        - Flags: creditable: the response carries a `credits` block and the call can debit the team ledger.
      tags:
        - linkedin_accounts
      parameters:
        - name: sid
          in: path
          required: true
          description: LinkedIn account sid (ln_ac_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ln_ac_
            description: LinkedIn account sid (ln_ac_…).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckLinkedinAccountTargetBlockRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckLinkedinAccountTargetBlockResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: check_linkedin_account_target_block
      x-gtm-mcp-mount: linkedin.accounts
      x-gtm-entity: linkedin_accounts
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: true
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/linkedin-accounts/{sid}/endorse-skill:
    post:
      operationId: endorse_linkedin_account_skill
      summary: Endorse skills
      description: |-
        Endorse a target person's skills from this account (warm-up / engagement action). Outward action on LinkedIn.

        Contract:
        - MCP tool `endorse_linkedin_account_skill`, registry package `mcp.linkedin/linkedin_accounts`, mount `linkedin.accounts`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - linkedin_accounts
      parameters:
        - name: sid
          in: path
          required: true
          description: LinkedIn account sid (ln_ac_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ln_ac_
            description: LinkedIn account sid (ln_ac_…).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EndorseLinkedinAccountSkillRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EndorseLinkedinAccountSkillResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: endorse_linkedin_account_skill
      x-gtm-mcp-mount: linkedin.accounts
      x-gtm-entity: linkedin_accounts
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/linkedin-accounts/{sid}/get-my-analytics:
    post:
      operationId: get_linkedin_account_my_analytics
      summary: Get my analytics (not shipped)
      description: |-
        ⛔ NOT SHIPPED YET: returns creator/profile analytics. Contract locked, capability not built; calling it returns not_implemented.

        Not shipped yet. The registry marks this route availability=stub_501: the backend validates the whole request and then answers 501 not_implemented. The request contract is final, so integrations can be written and tested against it today. Marked deprecated so generated clients flag it at compile time; this is a NOT-YET flag, not a sunset.

        Contract:
        - MCP tool `get_linkedin_account_my_analytics`, registry package `mcp.linkedin/linkedin_accounts`, mount `linkedin.accounts`.
        - Operation `action`, response envelope `action`.
        - Flags: read only.
      tags:
        - linkedin_accounts
      parameters:
        - name: sid
          in: path
          required: true
          description: LinkedIn account sid (ln_ac_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ln_ac_
            description: LinkedIn account sid (ln_ac_…).
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLinkedinAccountMyAnalyticsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_linkedin_account_my_analytics
      x-gtm-mcp-mount: linkedin.accounts
      x-gtm-entity: linkedin_accounts
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: stub_501
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
      x-gtm-not-implemented-reason: "Not shipped yet. The registry marks this route availability=stub_501: the backend validates the whole request and then answers 501 not_implemented. The request contract is final, so integrations can be written and tested against it today. Marked deprecated so generated clients flag it at compile time; this is a NOT-YET flag, not a sunset."
      deprecated: true
  /api/linkedin-accounts/{sid}/get-my-credits:
    post:
      operationId: get_linkedin_account_my_credits
      summary: Get my credits
      description: |-
        Return the InMail / message credit balance for the connected account.

        Contract:
        - MCP tool `get_linkedin_account_my_credits`, registry package `mcp.linkedin/linkedin_accounts`, mount `linkedin.accounts`.
        - Operation `action`, response envelope `action`.
        - Flags: read only.
      tags:
        - linkedin_accounts
      parameters:
        - name: sid
          in: path
          required: true
          description: LinkedIn account sid (ln_ac_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ln_ac_
            description: LinkedIn account sid (ln_ac_…).
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLinkedinAccountMyCreditsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_linkedin_account_my_credits
      x-gtm-mcp-mount: linkedin.accounts
      x-gtm-entity: linkedin_accounts
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
  /api/linkedin-accounts/{sid}/get-my-following:
    post:
      operationId: get_linkedin_account_my_following
      summary: Get my following
      description: |-
        List who the connected account follows, newest-first: the follow-edge twin of get-my-followers (§5.8 latest-*). A null cursor refreshes then returns the head page; a non-null cursor is a read-only continuation over the already-refreshed head (no limit spend). Cursor-paginated.

        Contract:
        - MCP tool `get_linkedin_account_my_following`, registry package `mcp.linkedin/linkedin_accounts`, mount `linkedin.accounts`.
        - Operation `action`, response envelope `action`.
        - Flags: read only.
      tags:
        - linkedin_accounts
      parameters:
        - name: sid
          in: path
          required: true
          description: LinkedIn account sid (ln_ac_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ln_ac_
            description: LinkedIn account sid (ln_ac_…).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetLinkedinAccountMyFollowingRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLinkedinAccountMyFollowingResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_linkedin_account_my_following
      x-gtm-mcp-mount: linkedin.accounts
      x-gtm-entity: linkedin_accounts
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
  /api/linkedin-accounts/{sid}/get-my-full-profile:
    post:
      operationId: get_linkedin_account_my_full_profile
      summary: Get my full profile
      description: |-
        Fetch the full self-profile of the connected LinkedIn account.

        Contract:
        - MCP tool `get_linkedin_account_my_full_profile`, registry package `mcp.linkedin/linkedin_accounts`, mount `linkedin.accounts`.
        - Operation `action`, response envelope `action`.
        - Flags: read only.
      tags:
        - linkedin_accounts
      parameters:
        - name: sid
          in: path
          required: true
          description: LinkedIn account sid (ln_ac_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ln_ac_
            description: LinkedIn account sid (ln_ac_…).
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLinkedinAccountMyFullProfileResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_linkedin_account_my_full_profile
      x-gtm-mcp-mount: linkedin.accounts
      x-gtm-entity: linkedin_accounts
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
  /api/linkedin-accounts/{sid}/get-my-lite-profile:
    post:
      operationId: get_linkedin_account_my_lite_profile
      summary: Get my lite profile
      description: |-
        Fetch the lite self-profile (name, headline, avatar) of the connected account.

        Contract:
        - MCP tool `get_linkedin_account_my_lite_profile`, registry package `mcp.linkedin/linkedin_accounts`, mount `linkedin.accounts`.
        - Operation `action`, response envelope `action`.
        - Flags: read only.
      tags:
        - linkedin_accounts
      parameters:
        - name: sid
          in: path
          required: true
          description: LinkedIn account sid (ln_ac_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ln_ac_
            description: LinkedIn account sid (ln_ac_…).
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLinkedinAccountMyLiteProfileResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_linkedin_account_my_lite_profile
      x-gtm-mcp-mount: linkedin.accounts
      x-gtm-entity: linkedin_accounts
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
  /api/linkedin-accounts/{sid}/get-my-sessions:
    post:
      operationId: get_linkedin_account_my_sessions
      summary: Get my sessions
      description: |-
        List the active LinkedIn sessions for the connected account.

        Contract:
        - MCP tool `get_linkedin_account_my_sessions`, registry package `mcp.linkedin/linkedin_accounts`, mount `linkedin.accounts`.
        - Operation `action`, response envelope `action`.
        - Flags: read only.
      tags:
        - linkedin_accounts
      parameters:
        - name: sid
          in: path
          required: true
          description: LinkedIn account sid (ln_ac_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ln_ac_
            description: LinkedIn account sid (ln_ac_…).
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLinkedinAccountMySessionsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_linkedin_account_my_sessions
      x-gtm-mcp-mount: linkedin.accounts
      x-gtm-entity: linkedin_accounts
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
  /api/linkedin-accounts/{sid}/get-my-ssi:
    post:
      operationId: get_linkedin_account_my_ssi
      summary: Get my SSI (not shipped)
      description: |-
        ⛔ NOT SHIPPED YET: returns the Social Selling Index. Contract locked, capability not built; calling it returns not_implemented.

        Not shipped yet. The registry marks this route availability=stub_501: the backend validates the whole request and then answers 501 not_implemented. The request contract is final, so integrations can be written and tested against it today. Marked deprecated so generated clients flag it at compile time; this is a NOT-YET flag, not a sunset.

        Contract:
        - MCP tool `get_linkedin_account_my_ssi`, registry package `mcp.linkedin/linkedin_accounts`, mount `linkedin.accounts`.
        - Operation `action`, response envelope `action`.
        - Flags: read only.
      tags:
        - linkedin_accounts
      parameters:
        - name: sid
          in: path
          required: true
          description: LinkedIn account sid (ln_ac_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ln_ac_
            description: LinkedIn account sid (ln_ac_…).
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLinkedinAccountMySsiResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: get_linkedin_account_my_ssi
      x-gtm-mcp-mount: linkedin.accounts
      x-gtm-entity: linkedin_accounts
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: stub_501
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: trivial
      x-gtm-not-implemented-reason: "Not shipped yet. The registry marks this route availability=stub_501: the backend validates the whole request and then answers 501 not_implemented. The request contract is final, so integrations can be written and tested against it today. Marked deprecated so generated clients flag it at compile time; this is a NOT-YET flag, not a sunset."
      deprecated: true
  /api/linkedin-accounts/{sid}/my-profile:
    patch:
      operationId: edit_linkedin_account_my_profile
      summary: Edit my profile (not shipped)
      description: |-
        ⛔ NOT SHIPPED YET: edits the connected account's own profile (name/headline/summary). Contract locked, capability not built; calling it returns not_implemented.

        Not shipped yet. The registry marks this route availability=stub_501: the backend validates the whole request and then answers 501 not_implemented. The request contract is final, so integrations can be written and tested against it today. Marked deprecated so generated clients flag it at compile time; this is a NOT-YET flag, not a sunset.

        Contract:
        - MCP tool `edit_linkedin_account_my_profile`, registry package `mcp.linkedin/linkedin_accounts`, mount `linkedin.accounts`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - linkedin_accounts
      parameters:
        - name: sid
          in: path
          required: true
          description: LinkedIn account sid (ln_ac_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ln_ac_
            description: LinkedIn account sid (ln_ac_…).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EditLinkedinAccountMyProfileRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EditLinkedinAccountMyProfileResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: edit_linkedin_account_my_profile
      x-gtm-mcp-mount: linkedin.accounts
      x-gtm-entity: linkedin_accounts
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: stub_501
      x-gtm-dangerous: true
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
      x-gtm-not-implemented-reason: "Not shipped yet. The registry marks this route availability=stub_501: the backend validates the whole request and then answers 501 not_implemented. The request contract is final, so integrations can be written and tested against it today. Marked deprecated so generated clients flag it at compile time; this is a NOT-YET flag, not a sunset."
      deprecated: true
  /api/linkedin-accounts/{sid}/reset-sync:
    post:
      operationId: reset_linkedin_account_sync
      summary: Reset account sync
      description: |-
        Reset one or more sync tracks for the account and re-run them from scratch. ASYNC: returns pending refs to poll; DESTRUCTIVE: discards sync cursors.

        Contract:
        - MCP tool `reset_linkedin_account_sync`, registry package `mcp.linkedin/linkedin_accounts`, mount `linkedin.accounts`.
        - Operation `action`, response envelope `action_async`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - linkedin_accounts
      parameters:
        - name: sid
          in: path
          required: true
          description: LinkedIn account sid (ln_ac_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ln_ac_
            description: LinkedIn account sid (ln_ac_…).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResetLinkedinAccountSyncRequest"
      responses:
        "200":
          description: "`action_async` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResetLinkedinAccountSyncResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: reset_linkedin_account_sync
      x-gtm-mcp-mount: linkedin.accounts
      x-gtm-entity: linkedin_accounts
      x-gtm-operation: action
      x-gtm-envelope: action_async
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/linkedin-accounts/{sid}/update-sync-config:
    post:
      operationId: update_linkedin_account_sync_config
      summary: Update account sync config
      description: |-
        Set the account's weekly sync schedule: the timezone, the allowed per-weekday time windows, and per-track cadence entries. Replaces the stored sync_config wholesale (send the full desired config, not a delta). Returns the updated account.

        Contract:
        - MCP tool `update_linkedin_account_sync_config`, registry package `mcp.linkedin/linkedin_accounts`, mount `linkedin.accounts`.
        - Operation `action`, response envelope `action`.
        - Flags: none.
      tags:
        - linkedin_accounts
      parameters:
        - name: sid
          in: path
          required: true
          description: LinkedIn account sid (ln_ac_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ln_ac_
            description: LinkedIn account sid (ln_ac_…).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateLinkedinAccountSyncConfigRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateLinkedinAccountSyncConfigResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: update_linkedin_account_sync_config
      x-gtm-mcp-mount: linkedin.accounts
      x-gtm-entity: linkedin_accounts
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/linkedin-accounts/{sid}/visit-profile:
    post:
      operationId: visit_linkedin_account_profile
      summary: Visit profile
      description: |-
        Visit a target person's profile from this account (warm-up / signal action). Outward action on LinkedIn.

        Contract:
        - MCP tool `visit_linkedin_account_profile`, registry package `mcp.linkedin/linkedin_accounts`, mount `linkedin.accounts`.
        - Operation `action`, response envelope `action`.
        - Flags: dangerous: the MCP layer gates it behind a preview/commit token, and the effect cannot be undone through this API.
      tags:
        - linkedin_accounts
      parameters:
        - name: sid
          in: path
          required: true
          description: LinkedIn account sid (ln_ac_…).
          schema:
            type: string
            minLength: 18
            maxLength: 18
            pattern: ^ln_ac_
            description: LinkedIn account sid (ln_ac_…).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VisitLinkedinAccountProfileRequest"
      responses:
        "200":
          description: "`action` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VisitLinkedinAccountProfileResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: visit_linkedin_account_profile
      x-gtm-mcp-mount: linkedin.accounts
      x-gtm-entity: linkedin_accounts
      x-gtm-operation: action
      x-gtm-envelope: action
      x-gtm-availability: ga
      x-gtm-dangerous: true
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/linkedin-auto-scrape-results/search:
    post:
      operationId: search_linkedin_auto_scrape_results
      summary: Search LinkedIn auto-scrape results
      description: |-
        Read the leads a collector has captured: one row per unique person or company, deduped across every run, each carrying flat identifiers plus the latest payload (name, headline, location, industry). Use for: the whole registry of a job (filter linkedin_auto_scrape_sid), the fresh delta of one run (first_seen_run_sid, the ingest path once a run completes), is this person already collected (parent sid plus ln_member_id or company_ln_id), and which leads keep re-appearing (seen_runs_count gte 3). page_size 0 returns counts.total_count, which IS the unique-lead count because dedup is built into the row. NOT for how a run went (search_linkedin_auto_scrape_runs), NOT for managing the job (search_linkedin_auto_scrapes), and NOT for outreach state: this registry records who was collected, never what was done to them. No q, no include[]; nickname is exact match; dedup_key needs its parent partner. Sort: created_at (default desc) | updated_at | seen_runs_count.

        Contract:
        - MCP tool `search_linkedin_auto_scrape_results`, registry package `mcp.linkedin/linkedin_auto_scrape_results`, mount `linkedin.auto-scrapes`.
        - Operation `search`, response envelope `search`.
        - Flags: read only.
      tags:
        - linkedin_auto_scrape_results
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchLinkedinAutoScrapeResultsRequest"
      responses:
        "200":
          description: "`search` success envelope."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchLinkedinAutoScrapeResultsResponse"
        4XX:
          $ref: "#/components/responses/McpClientError"
        5XX:
          $ref: "#/components/responses/McpServerError"
      x-gtm-mcp-tool: search_linkedin_auto_scrape_results
      x-gtm-mcp-mount: linkedin.auto-scrapes
      x-gtm-entity: linkedin_auto_scrape_results
      x-gtm-operation: search
      x-gtm-envelope: search
      x-gtm-availability: ga
      x-gtm-dangerous: false
      x-gtm-creditable: false
      x-gtm-mass-action: false
      x-gtm-step-eligible: false
      x-gtm-schedule-required: false
      x-gtm-tool-class: typical
  /api/linkedin-auto-scrape-runs/search:
    post:
      operationId: search_linkedin_auto_scrape_runs
      summary: Search LinkedIn auto-scrape runs
      description: |-
[...]
